{% extends "eurotripbase.html" %}
{% load static %}
{% block title %}Locations{% endblock %}

{% block content %}
<table class="table table-dark table-borderless opacity-75">
    <thead>
        <tr id="top">
            <th>Country</th>
            <th>Safety</th>
            <th>Price</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for city in location_list %}
        <tr id="">
            <td>{{ city.country }}</td>
            <td>{{ city.safety }}</td>
            <td>{{ city.prices }}</td>
            <td><a href="{% url 'eurotripdetails' city.pk %}">View Details</a></td>
            <td><a href="{% url 'etedit' city.pk %}">Update Details</a></td>
            <td><a href="{% url 'etdelete' city.pk %}">Delete Details</a></td>

        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}
