{% extends "eurotripbase.html" %}

{% block title %}Locations{% endblock %}

{% block header %}Mention a New Location:{% endblock %}

{% block content %}

<div class="location">
    <!--action calling create record for dB-->
    <form method="POST">
        <div class="frmObject_container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <!--as paragraph-->
            {{ form.as_p }}
            <button type="submit" name="create">submit</button>
        </div>

    </form>
</div>


{% endblock %}