{% extends "eurotripbase.html" %}

{% block title %}European Travel | Home{% endblock %}

{% block header %}European Travel Awaits{% endblock %}

{% block content %}
{% extends "eurotripbase.html" %}
{% load static %}
{% block title %}European Travel | Home{% endblock %}

{% block header %}European Travel Awaits{% endblock %}

{% block content %}
<div class="container">
    <div class="hometexthead">
        <h3>Welcome Travellers!</h3>
    </div>
    <div class="hometext">
        <p>Welcome to my django app. I put together an app for European travel that combines the following:
            <ul>
                <li>A form that allows users to input:</li>
                    <ul>
                        <li>Country</li>
                        <li>City</li>
                        <li>Time Zone for that location</li>
                        <li>Price of travelling there</li>
                        <li>etc.</li>
                    </ul>
                <li>List of Locations Retrieved from Database</li>
                    <p>Database was created by the completed forms of users</p>
                <li>Ability to edit and delete locations</li>
    </ul>
        </p>
    </div>
</div>


{% endblock %}


{% endblock %}