{% load static %}

<!--a lot of the block tags inherit pages from other files-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--grabs the title from the respected page-->
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/eurotripmain.css' %}">

    </head>
    <body>
        <div class="page_container">
            <!--grabs the navbar-->
           {% include "eurotripnavbar.html" %}
           <header class="header-title">
                <h1>{% block header %}{% endblock %}</h1>
           </header>
            {% block content %}{% endblock %}
        </div>
        <!--grabs the footer-->
        {% include "eurotripfooter.html" %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>

