

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'WR_home' %}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'WR_create_recipes' %}">Add Recipe</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'WR_view_recipes' %}">View All Recipes</a>
        </li>
      </ul>
    </div>
</nav>