{% extends "Cartoons/Cartoons_base.html" %}
{% load static %}

{% block content %}
{% comment %}
    this page lets you update an entry.
{% endcomment %}

<div class="jumbotron jumbotron-fluid bg-primary text-light text-center">
    <h1 class="display-4">Update Entry</h1>
</div>

<div id="form-container" class="table-responsive w-50 mx-auto table-striped">
    <form method="POST">
        {% csrf_token %}
            <table id="table" class='table bg-danger text-light table-hover table-centered table-striped table-bordered'>
            {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success w-100 font-weight-bold">Submit</button>
    </form>
</div>


{% endblock %}