{% load crispy_forms_tags %}
    <div class="form_container">
        <h1 class="add_form_header">Campsite Info</h1>
        <form class='add_campsite' method="POST" action="">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.state|as_crispy_field }}
                </div>
            </div>
            <div class="form-row text-center">
                <div class="form-group col-md-4 mb-0">
                    {{ form.access|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.type|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.fee|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.directions|as_crispy_field }}
            </div>
            <button id="new_site_button" type="submit" name="Save_Site">Add New Site!</button>
        </form>
        <br>
    </div>