{% extends "CampSite/CampSite_base.html" %}
{% load static %}

{% block title %} Details {% endblock %}

{% block jumbotron-text %} Find <br> Your <br> Spot {% endblock %}


{% block content%}
    <!---card that displays info about selected campsite-->
<div class="card">
    <div class="card-inner">
        <div class="card-body">
          <h4 class="card-title">{{ campsite.name }}, {{ campsite.state }}</h4><br>
          <p class="card-text">{{ campsite.description }}</p>
        </div>
        <div class="badge">
            <tr>
                <td><h1 class="badge badge-light">Type: {{ campsite.type }}</h1></td>
                <td><h1 class="badge badge-light">Access: {{ campsite.access }}</h1></td>
                <td><h1 class="badge badge-light">Fee: {{ campsite.fee }}</h1></td>
            </tr>
        </div>

        <div class="card-body">
            <br>
            <h3 class="card-text directions">Directions:</h3>
            <p class="card-text">{{ campsite.directions }}</p>
        </div>
    </div>
        <!---- Buttons for edit and delete ---->
        <div class="card-body text-center">
            <!---- Edit button has link to edit campsite page ---->
            <a href="{% url 'edit_campsite' campsite.id %}" class="btn btn-primary" id="edit">Edit</a>
            <!---- Delete button has function that opens the confirmDelete modal ---->
            <button onclick="document.getElementById('confirmDelete').style.display='block'" class="btn btn-primary" id="delete">Delete</button>
            <br>
            <a href="{% url 'browse' %}" class="btn btn-primary" id="browse">Back to Browse</a>

        </div>
                <!---- confirmDelete modal ---->
                <div id="confirmDelete" class="modal">
                  <!---- X in top right corner to close modal ---->
                  <span onclick="document.getElementById('confirmDelete').style.display='none'" class="close" title="Close Modal">×</span>
                  <form class="modal-content" action="/action_page.php">
                    <div class="container">
                      <h1>Delete campsite</h1>
                      <p>Are you sure you want to delete this campsite?</p>

                      <div class="clearfix">
                        <!---- Cancel button hides modal ---->
                        <button type="button" onclick="document.getElementById('confirmDelete').style.display='none'" class="btn btn-primary btn-modal">Cancel</button>
                        <!----  Delete button has delete_campsite link to delete view ---->
                        <a href="{% url 'delete_campsite' campsite.id %}" class="btn btn-primary btn-modal">Delete</a>
                      </div>
                    </div>
                  </form>
                </div>


</div>
{% endblock %}