{% extends "CampSite/CampSite_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Edit Campsite {% endblock %}

{% block jumbotron-text %} Edit <br> Your <br> Spot {% endblock %}


{% block content%}

    <div class="form_container">
        <h1 class="add_form_header">Campsite Info</h1>
        <form class='add_campsite' enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div class="form-row center-block">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.state|as_crispy_field }}
                </div>
            </div>
            <div class="form-row center-block2">
                <div class="form-group col-md-4 mb-0">
                    {{ form.access|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.type|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.fee|as_crispy_field }}
                </div>
            </div>
            <div class="form-group textarea">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group textarea">
                {{ form.directions|as_crispy_field }}
            </div>
            <button id="new_site_button" type="submit" name="Save_Site">Save Changes</button>




        </form>
        <br>
    </div>

{% endblock %}