

<div class="pos-f-t " >
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="navbar-toggler-icon"></i>
        </button>
    </nav>
    <div class="submenu-container collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <span>
                <li><a href="{% url 'Traveling_home' %}"><span style="color:#fff">Home</a></li>
                <li><a href="{% url 'Traveling_create' %}"><span style="color:#fff">Account</a></span></li>
                <li><a href="{% url 'Traveling_place' %}"><span style="color:#fff">Reservations</span></a></li>
                <li><a href=""><span style="color:#fff">About</span></a></li>

            </span>



        </div>
    </div>

</div>


