{% extends "find_pet_base.html" %}
{% load static %}

{% block title %}Available Now{% endblock %}
{% block content %}
<div id="available_bg">
</div>

<p id="applicant_title">Check out who's available now!</p>

    <div class="row">

        <div class="listing_container">
            <div class="header_container2">
                <p class="container_header">Current Pet Listings</p>
            </div>
            <table class="available_table">
                <tr class="table_heading">
					<th>Name</th>
					<th>Age</th>
					<th>Breed</th>
					<th>Color</th>
                    <th>Animal</th>
                    <th>Details</th>
				</tr>
                {% for pet in available %}
                <tr>
                    <td>{{ pet.name }}</td>
					<td>{{ pet.age }}</td>
					<td>{{ pet.breed }}</td>
					<td>{{ pet.color }}</td>
                    <td>{{ pet.animal }}</td>
                    <td><a href="{% url 'pet_details' pet.id %}">More Info</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <div class="row">

        <div class="listing_container">
            <div class="header_container2">
                <p class="container_header">Directly Contact Applicants</p>
            </div>
            <table id="applicant_table">
                <tr class="table_heading">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Preference</th>
					<th>Location</th>
					<th>Email</th>
				</tr>
                {% for person in applicant %}
                <tr>
                    <td>{{ person.first_name }}</td>
					<td>{{ person.last_name }}</td>
					<td>{{ person.preference }}</td>
					<td>{{ person.state }}</td>
					<td>{{ person.contact}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}