{% load static %}
<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static '/css/personality_layout.css' %}">
		<link rel="stylesheet" href="https://staccdkpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
		<title>{% block title%}{% endblock %}</title>
	</head>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fixed-top my-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="{% url 'personality_home' %}">Home<span class="sr-only">Home</span></a>
				  <li><a href="{% url 'personality_create' %}">Discover your Personality</a>
				  <li><a href="{% url 'personality_compare' %}">Compare Results</a>
				</ul>
                <<!--div class="navbar-nav">
                    <a class="btn btn-outline-primary" role="button" href="{% url 'personality_home' %}">Home<span class="sr-only">Home</span></a>
                    <a class="btn btn-outline-primary" role="button" href="{% url 'personality_create' %}">Take Test</a>
                    <a class="btn btn-outline-primary" role="button" href="{% url 'personality_compare' %}">Compare Results</a>
                </div>-->
            </div>
        </nav>
	<body id="body">
		<div class="checkbook-container">
			{% block content %}{% endblock %}
			<br><br>
		</div>
		<section class="bg-dark" id="block-footer">
			<p id="footer-center">&copy;2022 - Carson Cook</p>
		</section>
	</body>
</html>