{% extends "Novels/Novels_base.html" %}

{% block title %} All Entries {% endblock %}

{% block header %} All Current Entries {% endblock %}

{% block content %}

        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>

            {% for novels in all_novels %}
                <tr>
                    <td>{{ novels.Title }}</td>
                    <td>{{ novels.Author }}</td>
                </tr>
            {% endfor %}

        </table>
<div class="dropdown">
        <label>Select a title from the list to see more information</label>
        <select onChange="top.location.href=this.options[this.selectedIndex].value;">
            <option value=""></option>
        {% for novels in all_novels %}
            <option value="../{{ novels.pk }}/Novels_details/">{{ novels.Title }}</option>
        {% endfor %}
        </select>
</div>

{% endblock %}