

<ul>
    <li><a href="{% url 'Novels_home' %}" class="button1 bouncy">Home</a></li>
    <li><a href="{% url 'Novels_display' %}" class=" button1 bouncy" style="animation-delay:0.07s">View All Entries</a></li>
    <li><a href="{% url 'Novels_create' %}" class=" button1 bouncy" style="animation-delay:0.14s">Add New Entry</a></li>
    <li><a href="{% url 'Novels_define' %}" class="button1 bouncy" style="animation-delay:0.21s">Word Definition Lookup</a></li>
    <li><a href="{% url 'Novels_why' %}" class="button1 bouncy" style="animation-delay:0.28s">Why Read Books?</a></li>
</ul>