{% extends 'ChefKnives/ChefKnives_Base.html' %}

{% load static %}

{% block title %} Chef Knives {% endblock %}


{% block header %}  {% endblock %}

{% block content %}

<div class="jumbotron bg-dark text-white">
  <h1 class="display-4">Hello, </h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus. Bibendum neque egestas congue quisque egestas. Ut eu sem integer vitae justo eget magna fermentum iaculis. Arcu odio ut sem nulla. Proin sed libero enim sed faucibus turpis in eu.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'ChefKnives_Soup' %}" role="button">Learn more</a>
  </p>
</div>



{% endblock %}