{% extends 'ChefKnives/ChefKnives_Base.html' %}

{% load static %}

{% block title %} Chef Knives {% endblock %}


{% block header %} <h1>Which is the best chef's knife for you?</h1> {% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">{{ knives.0 }}</p>
    <p class="'led">{{ knives.1 }}</p>
    <p class="'led">{{ knives.2 }}</p>
    <p class="'led">{{ knives.3 }}</p>
    <p class="'led">{{ knives.4 }}</p>
    <p class="'led">{{ knives.5 }}</p>
    <p class="'led">{{ knives.6 }}</p>
    <p class="'led">{{ knives.7 }}</p>
    <p class="'led">{{ knives.8 }}</p>
    <p class="'led">{{ knives.9 }}</p>
    <p class="'led">{{ knives.10 }}</p>
    <p class="'led">{{ knives.11 }}</p>
  </div>
</div>

{% endblock %}