{% extends "PetAdoption_base.html" %}
{% load static %}

{% block title %}Confirm Delete{% endblock %}

{% block header %}Confirm Delete{% endblock %}

{% block content %}
<div class="form_container">

    <form method="POST">
            {% csrf_token %}
            <p class="text-light">They will be missed. Confirm Removal of: <br/><br/>
                "{{ item.name }}"?</p>
            <button type="submit" class="btn btn-warning btn-block text-white"
                    onclick="return confirm('Are you sure?')">Delete</button>
    </form>

</div>
{% endblock %}