
<nav class="topnav">
  <div class="container-fluidnav">
    <ul class="topnav">
      <li class="active"><a href="{% url 'pet_adoption_home' %}">Home</a></li>
      <li><a href="{% url 'pet_adoption_dogs' %}">Adoptable Dogs</a></li>
      <li><a href="{% url 'pet_adoption_cats' %}">Adoptable Cats</a></li>
      <li><a href="{% url 'pet_adoption_other' %}">Other Adoptable Animals</a></li>
      <li><a href="{% url 'pet_adoption_all' %}">All Adoptable Animals</a></li>
      <li><a href="{% url 'pet_adoption_list' %}">List Animal for Adoption</a></li>
      <li><a href="{% url 'pet_adoption_portland' %}">Portland Animals for Adoption</a></li>
      <li><a href="{% url 'pet_adoption_statistics' %}">Pet Adoption Statistics</a></li>
      <li><a href="{% url 'pet_adoption_search' %}">Search</a></li>
    </ul>
  </div>
</nav>