{% extends "ArtistTrack_base.html" %}

{% block title %}Artist Track{% endblock %}
{% block header %}Welcome to Artist Track{% endblock %}

{% block body %}
<div class="container at-opaque-container text-white">
    <p class="text-center">Welcome to Artist Track where you can enter your favorite songs into our database, categorize them into playlists,<br>
        and find lyrics for your favorite songs and artist information for your favorite artists.</p>
    <ul>
        <li>Click Add Song on the Nav Bar to add your songs to our database</li>
        <li>Click Add Playlist to add your custom playlists.</li>
        <li>Use the ctrl key to select as many songs as you like for your playlist,</li>
        <li>A playlist can have as many songs as you like, and your songs can be on multiple playlists.</li>
        <li>From the library tab, click on a song or playlist for more options, and to edit details.</li>
        <li>Also from the library tab, click on an artist to see a details page from that artist, provided by Wikipedia.</li>
        <li>Enjoy!</li>
    </ul>

    </p>


</div>

{% endblock %}