{% extends 'ArtistTrack_base.html' %}
{% block title %}Add Song{% endblock %}
{% block header %}Add Song{% endblock %}
{% block body %}

<div class="container at-opaque-container">
<!-- Will display all messages in an unordered list. -->
    {% if messages %}
    <ul class="messages text-white">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="red-text" action="" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" name="Save_Song" type="submit">Add Song</button>
    </form>

</div>
{% endblock %}

<!--onclick="window.alert('Playlist has been added successfully')"-->