{% extends "AlbumTracker/AlbumTracker_base.html" %}
{% load crispy_forms_tags %}

{% block title %}AlbumTracker - Add{% endblock %}

{% block content %}
<form method="POST" action="{% url 'AlbumTracker_add' %}">
    <div style="width: 40%; margin: auto;">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% crispy form %}
        <div>
            <input type="submit" class="btn" value="Add Album" name="add_album">
            <a href="{% url 'AlbumTracker_home' %}"><button class="btn" type="button" value="Cancel" id="btn-cancel">Cancel</button></a>
        </div>
    </div>

</form>
{% endblock %}
