{% extends 'SeaShanties/shanties_base.html' %}

{% block title %} Shanties -- View Songs List {% endblock %}

{% block content %}

    <div class="center">

        <table>
            <tr>
                <th> SONG NAME </th>
                <th> ORIGIN </th>
                <th> YEAR </th>
            </tr>

            {% for song in songs %}
            <tr>
                <td><a href="{% url 'shanties_details' song.id %}">{{ song.title }}</a></td>
                <td>{{ song.artist }}</td>
                <td>{{ song.year }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}