{% extends "Turtles/turtles_base.html" %}
{% load static %}
{% block title %}Delete Rescues{% endblock %}

{% block header %}
    <h3 class="del-3">Delete Rescue</h3>
{% endblock %}

{% block content %}
<div id="form-container" style="padding-top: 380px; padding-left: 223px; padding-right: 964px;">
    <form method="POST">
        {% csrf_token %}
        {{ item.as_p }}  <!-- represents a document section containing interactive controls for submitting information. -->
        <h2  style="text-align: center; color: white;">Deleting Rescue: {{ item.name }}</h2>
            <button type="submit" class="btn btn-dark btn-lg btn-block w-50 mx-auto" onclick="return confirm('Are you sure that you wish to delete this?')"></button>
    </form>
</div>

{% endblock %}