{% extends 'FictionalCharacters/FictionalCharacters_Base.html' %}

{% block title %} Fictional Characters {% endblock %}


{% block content %}
<div class="FCHbox">
    <p class="FCQ" id="fcquote"> </p>

    <img class="FCImg" src="/static/FictionalCharacters/images/Characters_books.png">

    <p class="FCDef">Fictional Character: An imaginary person represented in a work of fiction.</p>

    <p class="FCHome">We all have our favourite characters, from books to movies to video games and everywhere in between.
    With this app, you'll be able to keep track of all of your favourite characters, what series they're from, and more!</p>
</div>

{% endblock %}