body {
    background-image: url('/static/images/app_images/Road.jpg');
    background-color: #FFFFAFO;

}

container {
    text-align: center;

}

ul {
    text-align: center;
    font-family: courier;
    font-size: 18px;
    display: block;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: courier;
    color: #ff0000;
    text-decoration: underline;
}

p {
    text-align: center;
    font-family: courier;
    font-size: 20px;
}
/*** Navbar Styling ***/
.Navbar {
  overflow: hidden;
  background-color: red;
}

.Navbar a {
  float: left;
  color: #00FFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.Navbar a:hover {
  background-color: #F8F8FF;
  color: Red;
}

.Navbar a.active {
  background-color: #50BCB9;
  color: black;
}