{% extends "Resellers_MarketWatch/MarketWatch_base.html" %}
{% block title %}Details Page{% endblock %}




{% block content %}
 <div class="container my-container">
    <div class="row my-row">
        <div class="col-md-12 center-align-items-start my-col" id="list-col1">
                <table class="table table-striped" id="list-r1c1">


                  <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">URL</th>
                            <th scope="col">Price</th>
                            <th scope="col">ImageUrl</th>
                            <th scope="col">Profit</th>
                        </tr>
                  </thead>
                         <tbody>
                            <tr>
                                <th scope="row">{{data.category}}</th>
                                <td>{{data.date}}</td>
                                <td><a href="{{data.url}}">Item-Link</a></td>
                                <td>{{data.price}}</td>
                                <td><img height="60" width="60" alt="img" src="{{data.imageUrl}}"></td>
                                <td>{{data.profit}}</td>
                            </tr>
                      </tbody>

                </table>
        </div>
    </div>
 </div>
{% endblock %}