{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Batman's Black Book{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'HeroAbility/css/style.css' %}" />

    </head>
    <body id="body">
        <!-- load the navbar -->
        {% include "HeroAbility/heroability_nav.html" %}
        <h1>{% block headline %}{% endblock %}</h1>
        {% block content %}

        {% endblock %}
    </body>
</html>