
{% extends 'eb_base.html' %}

{% block title %}A Scenic Route{% endblock %}

{% block header %}
    <div>
        <h4 class="display-4 text-light">Accommodation Details:</h4>
        <p>Always comfortable, select what suits your preference and/or budget!</p>
    </div>

{% endblock %}

{% block content %}

        <!-- was going to put images in the card... maybe later -->

<h3 id="Options">
    Options:</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Coach Seating</h5>
                    <p class="card-text">Wide comfortable reclining seats, footrests, ample legroom, overhead luggage bins and big picture window with curtains at your seat.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/seating-accommodations.html" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Roomette</h5>
                    <p class="card-text">For privacy, it has 2 chairs and 2 sleeping berths, a big picture window, access to a restroom and shower in the train car.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/roomettes.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Bedroom</h5>
                    <p class="card-text">Twice the space as a roomette, an armchair, 2 sleeping berths with in-room sink, restroom and shower.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/bedrooms.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Family Bedroom</h5>
                    <p class="card-text">Provides seating for 4 and 4 sleeping berths, 2 big picture windows, access to restroom and shower in the same train car.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/family-bedroom.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Bedroom Suite</h5>
                    <p class="card-text">More space by adjoining 2 rooms with 2 big picture windows, sinks, restrooms and showers in the room.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/bedroom-suite.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h5 class="card-title">Accessible Bedroom</h5>
                    <p class="card-text">For customers traveling with a disability, accessible bedrooms are located near the entry level of the train.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/accessible-bedroom.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}