{% extends "Books/Books_Base.html" %}

{% load static %}

{% block title %} Favorites {% endblock %}

{% block content %}

<div class="jumbotron w-25 mx-auto">
    <div class="container">
        <h2 class="text-center">Select Your Favorite Books!</h2>
        <div class="dropdown text-center">
            <form method="POST" action="{% url 'books_fav' %}">
                {% csrf_token %}
                <label class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">Choose Title:</label>
                <select name="value" class="dropdown-menu">
                    {% for title in book_titles %}
                    <option class="dropdown-item" value="{{ title }}">{{ title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="new_book" class="btn btn-primary btn-lg">
            </form>
        </div>
    </div>
</div>
{% endblock %}