{% extends 'MagicTheGathering/MagicTheGathering_base.html' %}

{% load static %}

{% block title %}Confirm Delete{% endblock %}

{% block header %}Delete Confirmation:{% endblock %}

{% block content %}

    <form method="POST" action=".">
        {% csrf_token %}
        <h2>Confirm Delete</h2>
        <p style="text-align: center;">Are you sure you would like to delete "{{ item.card_name }}" from the database?</p>

        {{ item.as_p }}<!--if any other info we wanted to paint, can paint here-->

        <input type="submit" value="Yes, delete it!" class="btn" id="button"><!--calls the action in form tag-->
        <a href="{% url 'collection' %}"><button class="btn" type="button" id="button3">Cancel</button></a>
        <!--takes user back to displaydb.html-->

    </form>

{% endblock %}