{% extends "CarPartsApp/CarPartsApp_base.html" %}
{% load static %}
{% block header %}Store all youre recent car parts on here! Keep track of the build and the prices!{% endblock %}
{% block content %}


    <div class="homeContainer">
        <div class="homeImg1">
            <img src="/static/images/carR8.jpg" alt="R8" width="300" height="300">
        </div>

        <div class="homeImg2">
            <img src="/static/images/mechanic.jpg" alt="R8" width="200" height="500">
        </div>
        <p class="heading1">
            Add new Parts to the database
        </p>
        <p class="heading1">
            Keep Track of all Parts in the database
        </p>
    </div>


{% endblock %}