h1,h2,h3,h4,h5,p{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body{

    height: 92vh;
    width: 100vw;
    background-image: url("../images/StarWatch_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }


#title {
    text-align: center;
    font-size: 5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 10px lightblue;
}
#slogan{
    text-align: center;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    text-shadow: 0 0 5px lightblue;
  }



.box {
    background-color: #0b5ed7;
    background-blend-mode: difference;
    opacity: .75;

}

#summary{
    font-size: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    -webkit-text-stroke-color: blue;
    text-shadow: 0 0 5px lightblue;
}



  /* Navbar container */
.navigation {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.ab_9000 {
    float: right;
    display: block;
    color: white;
    text-align: right;
    text-decoration: none;
    margin-right: 3em;
}
  #footer{
    text-align: center;
    background-color: #111;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
  .box_title
  {
      margin-left: 2em;
  }

  .box_content{
      margin-left: 3em;
  }

td {
    font-family: Arial, Helvetica, sans-serif;
    }

.filter{
    text-align: center;
    margin: auto;
    justify-content: center;

}

#main_list{
      border: 5px solid #ccc;
  padding:10px;
}