{% extends 'Recipe_Maker/Recipe_Maker_base.html' %}

{% block title %}Recipe Details{% endblock %}

{% block content %}

<!-- card template from bootstrap -->
<div class="w-50 card text-center text-dark bg-warning mb-3 border-dark d-inline-flex d-flex justify-content-center">
  <div class="card-header border-dark">
      {{ recipe.recipe_type|capfirst }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
    <p class="card-text">{{ recipe.recipe_ingredients }}</p>
    <p class="card-text">{{ recipe.recipe_instructions}}</p>
    <a href="{% url 'recipe_update' recipe.id %}" class="btn btn-outline-dark">Update Recipe</a>
    <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-outline-danger">Delete</a>
  </div>
</div>

{% endblock %}