
{% extends 'Recipe_Maker/Recipe_Maker_base.html' %}


{% block title %}Delete Recipe{% endblock %}


{% block header %}Delete Confirmation{% endblock %}



{% block content %}


<form method="POST" action="{% url 'delete_recipe' recipe.id %}" class="">
    {% csrf_token %}
    <div class="card text-center text-dark bg-warning mb-3 border-dark">
      <div class="card-header border-dark">
          {{ recipe.recipe_name|capfirst }}
      </div>
        <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this recipe?</h5>

        <input type="submit" value="Yes, Delete" class="btn btn-outline-danger">
        <a href="{% url 'recipe_details' recipe.id %}" class="btn btn-outline-dark">Cancel</a>
        </div>

</form>


{% endblock %}

