{% extends 'TrackApp/TrackApp_base.html' %}

{% block title %} TrackApp -- View data {% endblock %}

{% block content %}


<div>
    <ul>
        <div id="location_name" class="grid-container">

            <div id="location_list">
            <br>
                <ul> state: {{ data.state  }}</ul>
                <ul>city: {{ data.city  }}</ul>
            <ul> id: {{ data.id }}</ul>
                <ul> description: {{ data.description }}</ul>



                <br>
                <hr>
            </div>
        </div>
    </ul>
</div>
{% endblock %}




