{% extends 'Composers/composers_base.html' %}
{% load static %}

{% block title%}Composers Edit{% endblock %}
{% block header%}Edit Composer{% endblock %}

{% block content %}

            <div id="form-container" class="table-responsive w-50 mx-auto ">

                <form method="POST">
                    {% csrf_token %}
                        <table id="table" class='  table-centered table table-striped table-hover table-bordered  '>
                        {{ form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary">Edit Composer</button>
                </form>
            </div>
{% endblock %}