{% load static %}
<!---This is the basic template outline for my website.-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/composers_css.css' %}">
        <title> {% block title %} Composers R US {% endblock %}</title>
    </head>
    <header>
        <!--NavBar-->
       <nav class="navbar navbar-dark bg-dark">
           <div class="container">
            <a class="nav-item nav-link active" href="{% url 'composers_home' %}"> Home</a>
            <a class="nav-item nav-link" href="{% url 'composers_create' %}">Add New Composer</a>
            <a class="nav-item nav-link" href="{% url 'composers_list' %}">List of Composers</a>
               <a class="nav-item nav-link" href="{% url 'top100_composers' %}">100 Top Composers </a>
               <a class="nav-item nav-link" href="{% url 'composers_api' %}">Search Dictionary </a>
           </div>
       </nav>
        <!--End NavBar-->

    </header>

    <body id="body">
        <div class="composer-content">
            {% block content %} {% endblock %}
        </div>
    <section id="block-footer">
        <p  id="footer-left">&copy 2022 -- Micah K. Gooden</p>
    </section>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>