{% extends "Motorcycling/motorcycling_base.html" %}
{% load static %}


<!-- This creates the form for the user to create, rate, and submit their motorcycle -->
{% block content %}

<center>
<h1>Rate your Motorcycle!</h1>
<div id="form-container" class="table-responsive w-50 mx-auto">
    <form method="POST" action="{% url 'rate_motorcycle' %}">
        {% csrf_token %}
        <table id="table" class="table table-dark table-bordered table-hover text-center">
            {{ form.as_table }}
        </table>

            <button type="submit" class="btn btn-dark btn-sm btn-block w-20 mx-auto">Submit Review</button>
    </form>
</div>
</center>
{% endblock %}