{% extends 'speed_run_base.html' %}
{% load static %}

{% block title %}Game List{% endblock %}

{% block content %}

<h1 class="homeHeading">Choose a game</h1>

<div class="table-container">
    <table class="table table-dark table-striped w-75 p-3 position-absolute top-50 start-50 translate-middle">
        <thead>
            <tr class="table-dark">
                <th>Game Name</th>
            </tr>
        </thead>
        {% for game in games %}
        <tbody>
            <tr class="table-dark">
                <td class="table-dark"><a href="{% url 'speed_run_game_records' game.pk %}">{{ game.game_name }}</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}