{% extends 'SushiRecipes/Sushi_Recipes_Base.html' %}

{% block title%}Details{% endblock %}

{% block header%}{% endblock %}

{% block content %}

<h3>Details for you Sushi Recipes</h3>

	<div class="sushi_container">
		<table>
			<tr id="head_row">
			<th>Style</th>
        	<th>Ingredients</th>
        	<th>Steps</th>
        	<th>Notes</th>
			</tr>

		<tr>
			<td> {{details.style}} </td>
			<td> {{details.ingredients}}</td>
			<td> {{details.steps}}</td>
			<td> {{details.notes}}</td>
		</tr>


		</table>
	</div>

{% endblock %}