{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg_img">

<head>
    <meta charset="UTF-8">
    <title>ACNH DB</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>ACNH DB</title>
</head>



<body>

    <!--Navbar and Header-->
    <div class="page_container">
        {% include "acnh_navbar.html" %}
        <header class="header-title">
            <h1>{% block header %}{% endblock %}</h1>
        </header>
    </div>
    <!--End Navbar and Header-->


    {% block content %}{% endblock %}


    <!-- Footer -->
<div class="footer-container">
    {% include "acnh_footer.html" %}
</div>
    <!-- End Footer -->

</body>


</html>