* {
  box-sizing: border-box;
}

.wrow {
  margin-left:-5px;
  margin-right:-5px;
}

.wcolumn {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.wrow::after {
  content: "";
  clear: both;
  display: table;
}

.wtable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.wth, .wtd {
  text-align: left;
  padding: 16px;
}

w.tr:nth-child(even) {
  background-color: #f2f2f2;
}