body {
    padding-top: 2em;
    text-align: center;
    background-color: black;
    color: orange;
    background-image: url("/static/images/HIP_HOP.jpg");
    background-attachment: fixed;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
}

.navbar {
    background-color: orange;
    overflow: hidden;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    /*max-width: 100%;*/
    opacity: 70%;
}

.navbar ul li {
    text-decoration: none;
    display: inline;
    font-weight: bold;

}

.navbar a{
    color: black;
    size: large;
    padding: 40px;
}

.form3 {
    background: black;
    position: relative;
    border: 1px solid orange;
    padding: 4px;
}

table {
    background: black;
    position: relative;
    border: 1px solid orange;
}

tr, td {
    border: 1px solid orange;
    padding: 4px
    text-decoration: underline;
}

.footer {
    background-color: orange;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 14px;
    opacity: 70%;
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;

}