{% extends 'nyc_base.html' %}

{% block title%}See Your Restaurant on Open Table{% endblock %}

	{% block content %}


		<h2>Search a Restaurant from Yelp</h2>
			<form method="POST" action="{% url 'yelp' %}">
				{% csrf_token %}
				 <input class="restname" type="search" placeholder="Search Restaurants" aria-label="Search" name="restname">
        <br>
       			 <button class="search_btn" type="submit">Search</button>
			</form>
		{% if restaurants %}
			{% for businesses in restaurants %}
			<h3>{{ businesses.name }}</h3>
			<ul>
				<li>Phone Number: {{ businesses.display_phone }}</li>
<!--				<li>Price: {{ businesses.price }}</li>-->
				<li>Rating: {{ businesses.rating }}</li>
				<li>Available Options: {{ businesses.transactions }}</li>
			</ul>
			{% endfor %}

			{% else %}
			No search results for this query.
		{% endif %}


	{% endblock %}