<!DOCTYPE html>
<html lang="en" class="MainBG">
<head>
    <meta charset="UTF-8">
    <!--Tab Title-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='/static/css/ArtistsApp.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<h2> {% block header %}{% endblock %} </h2>

<div class="page-container">
    {% include './ArtistsApp_navbar.html' %}
            {% block content %}{% endblock %}
</div>




</body>
</html>