{% extends "MyThai/MyThai_base.html" %}

{% block title %}My Thai! | Home{% endblock %}

{% block header %}Welcome to MyThai!{% endblock %}

{% block content %}
    <div class="container-homepage">
        <div id="intro">
            <h2>Welcome to MyThai!</h2>
            <p>This app was created to store your favorite (as well as your least favorite)</p>
            <p>Thai food restaurants. The app will store the restaurants you enter, along with</p>
            <p>a rating for that restaurant.</p>
            <br>
            <p>The app will also store any dishes you enter, and again, a rating to remind you which</p>
            <p>dish from a restaurant is your favorite. This also allows you to sort through a</p>
            <p>type of dish or even a specific dish. Quickly find which place had your favorite</p>
            <p>Pad Thai or Yellow Curry.</p>
            <br>
            <p>     ~ Enjoy!   </p>

        </div>
    </div>
{% endblock %}