{% extends "OregonRocks/OregonRocksBase.html" %}
{% block title %}Rock Locations{% endblock %}

{% block header %}
    <h1>Oregon Rockhounding Locations</h1>
{% endblock %}

{% block content %}
    <div class="table-container">
        <table id="table">
            <thead>
                <tr id="th">
                    <th>Date Created</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Description of Location</th>
                    <th>Details</th>
                    <th>Edit Entry Links</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr id="td">
                    <td>{{ location.created_at }}</a></td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.address }}</td>
                    <td>{{ location.location_description }}</td>
                    <td><a href="{% url 'Rock_Details' location.pk %}">Details{{ location.details }}</a></td>
                    <td><a href="{% url 'Edit' location.pk %}">Edit Entry{{ location.edit }}</a></td>
                    <td><a href="{% url 'confirmDel' location.pk %}">Delete Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}