/* affects the whole page */
* {
    margin: 0;
}

html {
    background-color: orange;
}

/* Styling for the navbar */
.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
}

.topnav li {
    display: inline;
}

/* styling for header */

h1 {
    text-align: center;
}

/* Styling for footer */

.footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 40px;
}

table {
    border-collapse: collapse;
    text-align: center;
}
table th {
    border:1px solid black;
    background-color: white;
}

table td {
    border:1px solid black;

}