{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'SciFiWatchlist/CSS/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap" rel="stylesheet">

</head>
<body class="backdrop">
<!--Navbar-->
<div >
    <div class="navbar">
        <a href="{% url 'SciFi-Home' %}">Home</a>
        <a href="{% url 'Add-Movies' %}">Add Movies</a>
        <a href="{% url 'List-Movies'%}">Details</a>
    </div>
</div>
<!--End Navbar-->

<!--Body content -->
<div class="content">
{% block content %} {% endblock %}
</div>
<!--End content-->

<!--Footer-->
<!--End Footer-->

</body>
</html>