body {
    background-color: #353535;
    color: #00e600;
    font-family: "Arial"
}

h1 {
    font-size: 3rem;
    padding: 2rem;
    margin: auto;
}

h2 {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    float: center;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 35%;
}

ul {
    background-color: #252525;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #00ff00;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li:last-child {
    float:right;
}

img {
    border: 2px solid black;
    border-radius: 8px;
    margin: auto;
    width: 384px;
    height: 384px;
}

/* General Table Styling */
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto 0;
  text-align: center;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #111;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even){background-color: #999;}
tr:nth-child(odd){background-color: #555;}
tr:hover {background-color: #353535;}

/* form styling */
label {
	width: 125px;
	margin: auto 4px;
	padding: 4px;
	padding-left: 8px;
	font-weight: bold;
	opacity: initial;
}

input, select{
	border: 1px black;
	font-size: 20px;
	margin: auto 5px;
	padding: 2px;
    background-color: lightgray;
    float: right;
    width: 288px;
}
input:focus, select:focus{
    background-color: white;
}

form.label {
	width: 125px;
	margin: auto 4px;
	padding: 4px;
	padding-left: 8px;
	font-weight: bold;
	opacity: initial;
}

form.input, form.select{
	border: 1px black;
	font-size: 20px;
	margin: auto 5px;
	padding: 2px;
    background-color: lightgray;
    float: right;
    width: 288px;
}
form.input:focus, form.select:focus{
    background-color: white;
}

/* Button styling */
button {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 18px;
    background-color: lightgray;
    padding: 4px 8px;
    margin: auto;
    justify-content: center;
    position: relative;
    float: center;
}

button:hover {
    background-color: gray;
}
button:active {
    background-color: white;
}

/* ============================
|           Classes           |
============================ */

/* Header/Logo Title */
.topSection{
    position: fixed;
    top: 0;
    left: 0;
}


/* Header/Logo Title */
.cim_Title{
    background-color: #252525;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 168px;
    left: 0;
    top: 36px;
    position: fixed;
    margin: auto 0;
    z-index: 1000;
}

/* Page Content */
.content {
    /*display: flex;*/
    justify-content: center;
    text-content: center;
    position: relative;
    margin: auto 0;
    padding: 20px 40px;
    background-color: #353535;
    top: 218px;
    width: 80%;
    z-index: 1;
}


/* Footer styling */
.footer{
    position: fixed;
    background-color: #252525;
    padding: 12px;
    margin: auto 0;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
}

.nameColumn{
    width: 40%;
}

.categoryColumn{
    width: 15%;
}

.vendorColumn{
    width: 20%;
}

.page_button{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px;
}


.page_button:hover {
    background-color: gray;
}
.page_button:active {
    background-color: white;
}

.page_bar_center{
    width: 50%;
    text-align: center;
    padding: 8px;
}

.pagination{
    display: inline-flex;
    width: 100%;
    margin: 8px;
}

.border {
    padding: 4px;
    border: 1px solid black;
}

.center {
	text-align: center;
	justify-align: center;
	margin: auto 0;
}

.left{
	padding-left: 10px;
	word-wrap: normal;
	text-align: left;
	justify-align: left;
}

.right {
	padding-right: 5px;
	text-align: right;
	justify-align: right;
}