body, html {
    background-image: url('/static/images/bg3.jpg');
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;

}

img {
border: 4px solid black;
border-radius: 20px;

}

.form-div {
    background-color: lightblue;
    width: 600px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -225px;
    border: 5px ridge black;
    border-radius: 20px;
}

.center-div {
   width: 600px;
   height: 600px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -300px;
   margin-top: -300px;
}

.pull-right {
float: right;
}

.red_font {
color: red;
}

.green_font {
color: lime;
}

.div_margin_bottom {
margin-bottom: 100px;
}