{% extends "StarWatch_base.html" %}
{% load static %}

{% block title %}Other{% endblock %}

{% block header %}
    <div class=" box m-4 jumbotron jumbotron-fluid w-80 display1">
                <h2 class=" text-center display-3">Planets</h2>
    </div>
{% endblock %}

{% block content %}

    <div class="centered_container">
    <table id="table" class=' text-center box table table-info  table-hover table-bordered table-centered'>
        <thread>
            <tr>
                <th scope="col" data-field="object_name">Object</th>
                <th scope="col" data-field="object_nickName">Nick-Name</th>
                <th scope="col" data-field="object_description">Description</th>
            </tr>
        </thread>
        <tbody>
        {% for other in others %}
            <tr>
                <td><a href="{% url 'StarWatch_objectDetails' other.id %}">{{ other }}</a></td>
                <td>{{ other.object_nickName }}</td>
                <td>{{ other.object_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}