/* BODY */
 body, html {
    background-color: #ffd308;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial;
    text-align: center;
}

/**** NAV BAR ****/
nav {
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline-block;
}

input, select {
  display: inline-block;
  float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #74daf3;
    color: black;
}


/* HEADERS */
header {
    text-align: center;
    color: white;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    text-align: center;
}


/** FORM **/
#form-container {
    text-align: right;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding:20px;
    background:#74daf3;
    border:2px solid black;
}

h1, h3 {
    color: black;
}

#table, #th, #td {
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    border: 1px solid black;
    width: 800px;
}

#th {
    background-color: #74daf3;
    height: 50px;
}

#td {
    background-color: white;
}



