{% extends "Hiphop/hiphop_base.html" %}

{% block title %} Pick Your Favorite Year {% endblock %}

{% block header %} <div class="phototext">Choose your favorite hip hop Era</div> {% endblock%}

{% block content %}

    <div class="hiphop_form">
        <form method="POST">
            <div class="frmObject">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div class="frmButton_Container">
                <input type="submit" class="btn">
                <a href="{% url 'hiphop_home' %}"><button type="button" class="btn" value="Cancel">Cancel</button></a>
                <a type="button" class="btn" value="View All">View All</button></a>
            </div>
        </form>
    </div>

{% endblock %}