{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial scale=1.0, maximum-scale=1.0, minimum=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/ControlInventory/CSS/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>


<body>

<!--NAV BAR-->
    <ul>
        <li><a href="{% url 'ControlInventory_home.html' %}">Home</a></li>
        <li><a href="{% url 'ControlInventory_account.html' %}">Create-Account</a></li>
        <li><a href="{% url 'ControlInventory_addproduct.html' %}">Add-Product</a></li>
        <li><a href="{% url 'ControlInventory_details.html' %}">Item-List</a></li>
        <li><a href="{% url 'ControlInventory_productinfo.html' %}">Product-Information</a></li>
    </ul>
<!--END NAV BAR-->

<!--HEADER-->
    <header>
        <h1>
            {% block header %}{% endblock %}
        </h1>
    </header>
<!--END HEADER-->

<!--BODY-->
    {% block content %} {% endblock %}
<!--END BODY-->

<!--FOOTER-->
    <footer>
        <div class="footer">
            <p>Control Inventory App &copy; | By: Sean Hager | 2021</p>
        </div>
    </footer>
<!--END FOOTER-->


</body>
</html>


