{% extends 'funkocollectorbase.html' %}
{% block title %}My Collection{% endblock %}

<!-- display the saved information in a database in a table styled with bootstrap -->
{% block body %}
<div class="container">
    <h1>My Collection</h1>
    <p class="green_font"><b>click on the name for details or update to edit pop information:</b></p>
    <table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">Size</th>
      <th scope="col">Name</th>
      <th scope="col">Fandom</th>
      <th scope="col">Chase</th>
      <th scope="col">Purchase Price</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <!-- django code with a For statement to iterate though the database to display the saved data in the table from each
      key size, name, fandom, chase, purchase_price, value. -->
  {% for popcollection in collectionpop %}

    <tr>
      <td class="table-info">{{ popcollection.size }}</td>
      <!-- added clickable link to each name in the table to be directed to a details page for each object -->
      <td class="table-info"><a href="{% url 'detailscollection' popcollection.id %}">{{ popcollection.name }}</a></td>
      <td class="table-info">{{ popcollection.fandome }}</td>
      <td class="table-info">{{ popcollection.chase }}</td>
      <td class="table-info">{{ popcollection.purchase_price }}</td>
      <td class="table-info">{{ popcollection.value }}</td>
      <td class="table-info"><a href="{% url 'editcollection' popcollection.id %}" class="btn btn-outline-primary
      btn-sm">Update</a></td>
      <td class="table-info"><a href="{% url 'delete-pop' popcollection.id %}" class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this pop?')">Delete Pop</a></td>
    <!-- end django for loop -->
    {% endfor %}
    </tr>{{ popcollection }}
  </tbody>
</table>
</div>
{% endblock %}