{% extends "MoveState/movestate_base.html" %}
{% load static %}

{% block content %}

    <h1 class="heading">Add your State:</h1>

    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="frmBtn_container">
                <input type="submit" class="btn" id="btn" value="Add your State" name="Submit">
                <a href="{% url 'movestate_home' %}"><button type="button" class="btn" id="btn" value="Cancel">Cancel</button></a>
            </div>
        </form>
    </div>


{% endblock %}