{% extends 'MoveState/movestate_base.html' %}

{% load static %}

{% block title %}MoveState{% endblock %}

{% block header %}Add State:{% endblock %}

{% block content %}

<div class="adminBox">
    <form name="MovesForm" method="POST" action="{% url 'movestate_add' %}">
        {% csrf_token %}
        <div class="frmContainer">
           {{ form.non_field_errors }}
           {{ form.as_p }}
        </div>
        <div class="btnBox">
            <input type="submit" class="btn" value="Add State" name="addItem">
            <a href="{% url 'movestate_home' %}"><button type="button" class="btn" value="Cancel">Cancel</button></a>
        </div>
    </form>
</div>

{% endblock %}