{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static '/CSS/NBAstats.css' %}">
		<script src="{% static '/JS/nba.js' %}"></script>
		<title>{% block title%}{% endblock %}</title>
	</head>


	<body id="body">
		{% include 'nba-navbar.html' %}

		<header>
			<br>
			<div>
				{% block header %}{% endblock %}
			</div>
		</header>

{% block content %}
		<div class="container-main">
		</div>
		<div class="container-two">
		</div>
{% endblock %}

	</body>
</html>