{%extends "ComercialAirplanes_base.html"%}


<body>
<h1> Inflight Airplane <b>MODEL</b> tracker</h1>
<p>This app is created for aviation enthusiast - who, for any reason needs to know how many airplanes of a specific model<br>
    are currently flying in the air and their destinations.<br>
    This app allows users the ability to look up certain aircraft types and view how many of those models are in the air<br>
    and their destination airport and arrival time!
</p>
<p> Example for use: An aviation enthusiast, may enjoy watching planes land and take off.<br>
    This person may have an interest in a specific plane make and model and may want to track it down for photos,<br>
    or to simply watch it land!
</p>
<p>This app is useful and authorized for any relatable uses</p>
</body>



