{% extends "StockTrackerBase.html" %}

{% block StockTitle %} Stock Tracker {% endblock %}

{% block StockPageHeading %} Stock List {% endblock %}

{% block StockContent %}
Here is the database content

    <table>
        <tr>
            <th>Stock Company Name</th>
            <th>Stock Ticker</th>
            <th>Stock Price</th>
            <th>Amount Held</th>
        </tr>
        {% for stock_data in stock_list %}

            <tr>
                <td><a href="{% url 'stock_details' stock_data.id %}">{{ stock_data.StockCompanyName }}</a></td>
                <td>{{ stock_data.StockTicker }}</td>
                <td>{{ stock_data.StockPrice }}</td>
                <td>{{ stock_data.StockAmount }}</td>
            </tr>
        {% endfor %}
    </table>
    <p> Hopefully this shows </p>


{% endblock %}


{% block StockFooter %} {% endblock %}