{% extends "NeighborhoodReview/NeighborhoodReview_base.html" %}

{% load static %}

{% block title %}Portland Neighborhood Review Blog {%  endblock %} }

{% block header %}Portland Neighborhood Reviews {% endblock %}

{% block content %}
 <h3>Make an Edit</h3>


                <form method ='POST'>
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type = 'submit' class ="btn-primary" style = "margin-left:75px;margin-top:30px;width:75px;">
                </form>




{% endblock %}