{% extends 'cocktail_recipes_base.html' %}
    {% block title %}Cocktail List{% endblock %}
    {% block content %}
        <table class="table table-hover" id="test">
          <thead>
            <tr>
              <th scope="col">Cocktail</th>
              <th scope="col">Rating</th>
            </tr>
          </thead>
          <tbody class="table-borderless">
          {% for cocktail in cocktails %}
            <tr>
              <td><a href="{% url 'cocktail_recipes_details' cocktail.pk %}">{{cocktail.cocktail_name|title}}</a> </td>
              <td>{{cocktail.avg_rating|default:'No ratings yet'}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% endblock %}