{% extends "swu_base.html" %}
{% load static %}

{% block title %} Sources {% endblock %}

{% block header %} {% endblock %}

{% block content %}
<h1>Sources</h1>
        <ul>
                <h2><li><a href="https://en.wikipedia.org/wiki/Star_Wars#:~:text=Star%20Wars%20is%20an%20American,a%20worldwide%20pop%2Dculture%20phenomenon.">Here are the information sources we used.</a></li></h2>
                <h2><li><a href="https://www.starwars.com/databank">Here are the Character sources we used for this information</a></li></h2>
        </ul>
<br>


{% endblock %}