{% extends "IceHockey_base.html" %}
{% load static %}
{% block title %}Ice Hockey App{% endblock %}
{% block content %}
<div class="container-fluid mx-auto" style="width: 90%">
    <div id="jtron" class="jumbotron jumbotron-fluid text-info bg-light mt-5" style="border-radius: 10px">
        <div class="container m-5">
            <h1>Welcome to the Ice Hockey App</h1>
            <h5 class="lead text-info">Keep track of your favorite teams and players!</h5>
            <hr class="text-light">
            <form class="form-inline">
                <div class="form-group row mt-2 ml-2">
                    <a class="btn btn-info btn-lg mr-5" href="https://thehockeywriters.com/hockey-101-beginners-guide-ice-hockey/"
               role="button">New to the Game?</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row mx-auto mt-5" id="homerow" style="width: 80%">
        <div class="col-sm p-3 bg-light text-center" style="border-radius: 10px">
            <h1 class="text-info pb-3">Hockey News</h1>
            {% for news_titles, news_links, news_dates in zipped_list %}
            <p class="text-dark text-left ml-3 pb-0 mb-0">{{ news_dates }}</p>
            <h4 class="text-info text-left ml-3 mb-5 bt-0 mt-0"><a class='text-info' href={{ news_links }}>{{ news_titles }}</a></h4>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}