{% extends 'IceHockey_base.html' %}
{% load static %}
{% block title %}Save Favorite{% endblock %}

{% block header %}Save Favorite{% endblock %}
{% block content %}
<div class="container-fluid mx-auto" style="width: 90%">
    <div id="container" class="table-responsive mx-auto">
        <h5 class="display-2 text-light text-center mt-5 mb-5">{{ user.first_name }}'s Favorite Players</h5>
        <table id="table" class="table table-light table-bordered table-hover w-50 text-center text-info mx-auto mt-5" data-toggle="table">
            <thead>
                <tr>
                    <th scope="col" class="w-25">Name</th>
                    <th scope="col" class="w-25">Number</th>
                    <th scope="col" class="w-25">Position</th>
                </tr>
            </thead>
            <tbody>
                {% for player in player_list reversed %}
                <tr>
                    <td><a href="https://www.nhl.com/search#q={{ player.name}}">{{ player.name }}</a></td>
                    <td>{{ player.number }}</td>
                    <td>{{ player.position }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex mt-5 justify-content-center">
            <button class="btn btn-info btn-lg"><a href="{% url 'IceHockey_allprofiles' user.pk %}" class="text-light">Back</a></button>
        </div>
    </div>
</div>

{% endblock %}