{% extends 'IceHockey_base.html' %}
{% block title %}All Profiles{% endblock %}
{% block content %}

<div class="container-fluid mx-auto" style="width: 90%">
    <div id="jtron" class="jumbotron jumbotron-fluid text-info bg-light mt-5" style="border-radius: 10px;">
      <div class="container m-5">
          <h1 class="text-info">All Profiles</h1>
          <h5 class="lead text-info">Check out other user's favorite teams and players</h5>
      </div>
    </div>
    <div id='card-container' class="container-fluid">
        <div class="row mx-auto">
        {% for profiles in profile_list reversed %}
             <div class="card mr-4 ml-4 mb-4" onclick="location.href='{% url 'IceHockey_details' profiles.pk %}'" style="width: 20rem; border-radius: 10px">
                 <div id='cardbody' class="card-body" onclick="findDetails()">
                     <h5 class="card-title">{{ profiles.first_name }} {{ profiles.last_name }}</h5>
                     <h6 class="card-text text-info">Favorite Team: {{ profiles.favorite_team }}</h6>
                     <h6 class="card-text text-info">Favorite Player: {{ profiles.favorite_player }}</h6>
                     <div class="container mt-3">
                         <a href="{% url 'IceHockey_show_favorites' profiles.pk %}">See Favorite Players</a><br>
                     </div>
                 </div>
             </div>
       {% endfor %}
        </div>
    </div>
</div>


{% endblock %}