{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link to Css styling  -->
		<link rel="stylesheet" href="{% static '/CSS/GrandmaCss.css' %}">
        <title>{% block title %}Grandmas Recipes{% endblock %}</title>
        <div class="nav">
                {% include "GrandmasRecipes/GrandmasRecipes_navbar.html" %}
        </div>
        <h1>"Keep Track of all your Grandmother's favorite Recipes"</h1>
    </head>
    <header>
        <div class="content">
            <p class="header">{% block header %}{% endblock %}</p><!--Space for individual page headers -->

        </div>
    </header>
    <body>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>