{% extends 'Pokedex/PokeDex_base.html' %}

{% block title %} PokeDex {% endblock %}

{% block header %}<h1>Welcome to your new online PokeDex!</h1> {% endblock %}

{% block content %}

<p style="text-align: center; color: white; padding-top: 80px; font-size: 16.3px;"><b>Please direct yourself to the top
    left corner "Destination" navigation bar.<br>The Destination bar will give you options to Search for Pokémon that<br>
    when searched will automatically be added to your PokeDex. Or you can<br> add Pokémon to your new PokeDex
    yourself using the "Add Pokémon".<br> It also has a section to view the Pokémon in your PokeDex and select<br> them to
    learn more about them! Within your PokeDex<br> you'll be able to edit the Pokémon and Remove them.</b></p>

{% endblock %}