<!--Navbar styling and links-->

<div class ='Navbar'>
    <ul class="topnav">
        <li><a href="{% url 'WorkoutEquipHome' %}">Home</a> </li>
        <li><a href="{% url 'workout_equip_console' %}">Add Equipment</a> </li>
        <li><a href="{% url 'workout_equip_display' %}">Your Collection</a> </li>
        <li><a href="{% url 'workout_equip_bs_display' %}">Web scraped Blog post</a> </li>
        <li><a href="{% url 'workout_equip_display_api' %}">Exercise API results</a> </li>
    </ul>
</div>