{% extends "MovieReviews/moviereviews_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Submit Your Reviews {% endblock %}

<!--- This page is where the user can submit their own movie reviews into the database -->
{% block content %}
<h1>Submit Your Movie Reviews</h1>
<div id="form-container" class="table-responsive w-50 mx-auto">
    <form method="POST" action="{% url 'moviereviews_create' %}">
        {% csrf_token %}
        <table id="table" class="table table-dark table-bordered table-hover text-center">
            {{ form.as_table }}
        </table>

            <button type="submit" class="btn btn-light btn-sm btn-block w-100 mx-auto">Create Review</button>
    </form>
</div>

{% endblock %}