
{% extends "MovieReviews/moviereviews_base.html" %}


{% block title %} Delete Confirmation {% endblock %}

{% load static %}

{% block content %}
<!---- This page allows the user to delete an item from the database -->
    <form method="POST" action="">
          {% csrf_token %}
          <h2>Confirm Delete</h2>
          <p>Are you sure you would like to delete this from the database?</p> <!--This confirms whether the user wants to delete an item from the database -->
          <input type="submit" value="Yes, delete it!" class="btn btn-dark">
          <a href="{% url 'moviereviews_display' %}"><button class="btn btn-light" type="button">Cancel</button></a>
    </form>


{% endblock %}