{% extends 'AlbumReviews/AlbumReviews_base.html' %}
	{% block title%}{{ details.Name }} &#8212; {{ details.Artist }}{% endblock %}

	{% block content %}
		<div>
            <div class="album_list">
                <h1>
                    {% filter upper %}
                        {{ details.Name }} &#8212; {{ details.Artist }}
                    {% endfilter %}
                </h1>
                <div class="album">
                    <div class="info">
                        <span class="album_details"><h3>Year:</h3> {{ details.Year }}</span>
                        <span class="album_details"><h3>Genre:</h3> {{ details.Genre }}</span>
                        <span class="album_details"><h3>Rating:</h3> {{ details.Rating }}</span>
                        <a href="{% url 'AlbumReviews_edit' details.id %}"><button>Edit</button></a>
                        <a href="{% url 'AlbumReviews_delete' details.id %}"><button>Delete</button></a>
                    </div>
                    <p>{{ details.Review }}</p>
                </div>
            </div>
		</div>
	{% endblock %}