/* General Styling */
html {
    scroll-behavior: smooth;
}
html {
	height: cover;
	width: cover;
}

body {
	font-family: Lucida Sans Unicode;
	text-align: center;
	background-image: url('../../static/images/dd-artwork-chimera.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	overflow: scroll;
	background-repeat: no-repeat;
}

h1{
	color: white;
	font-size: 36px;
	text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
/* Float the list items side by side */
ul.topnav li {
    float: left;
}
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
ul.topnav li a:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
    background-color: #355664;
}
/* Hide the list item that contains the link that should
   open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
}

.welcomeh1{
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 50px;
}

p{
   padding: 2px;
  text-align: center;
  color: white;
  font-size: 50px;
}

#block-footer {
    clear: both;
    display: flex;
    width: 100%;
	-moz-box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    height: 40px;
}

#block-footer a, #block-footer p {
    flex: 1;
    color: white;
    padding: 15px 15px;
	font-size: 14px;
    line-height: 10px;
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
}
#footer-right {
    width: 40%;
    text-align: right;
}
#footer-left {
    width: 40%;
    text-align: left;
}
#block-footer{
	float:left;
	clear:both;
	width:100%;
}
#block-footer a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	outline: medium none;
}
#block-footer a:hover {
    color: #CABE96;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

/*Card formating for clickable icons*/
.cards {
  align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 115px 350px;

  width: calc(720px * 3);
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card {
  box-shadow: 0 3px 10px 0 #aaa;
  cursor: pointer;
  height: auto;
  position: relative;
  width: 243px;
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
}

.card.visited {
  box-shadow: 0 3px 10px 2px #444;
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: calc(280px * 2);
  }
  .card {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: block;
    width: 100vw;
  }
  .card {
    margin: 0 auto 2rem;
  }
}
/* This controls the form size and contents */
.form_container {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    margin: 0 auto;
    width: 30%;
    height: 90%;
    border: 2px solid rgba(0,0,0,0.4);
    color: white;
    position: relative;
    z-index: 2;

}


/* form item container */
.frmObject_container {
    height: 50%
	display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: white;
}


.fieldWrapper{
	display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
/* form button container */
.frmBtn_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.btn {
	flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 150px; /* button size */
    margin: 2% 2% 2% 2%;
    color: grey;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}
.btn:hover {
    background-color: #355664;
    color: white;
    border: 2px solid #b3b3b3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
}
input[type="submit"] {
    flex-grow: 1;
    width: 10%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin: 2% 2% 2% 2%;
    color: black;
    padding: 9px 0px 9px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #355664;
    color: white;
    border: 2px solid #b3b3b3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
}
select {
	padding: 4px 10px;
	width: 40%;
	display: inline-block;
	margin: 1% 0% 0 1%;
	border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
}
input, textarea {
    width: 100%;
    margin: 1% 0 0 0;
    padding: 1% 0 2% 1%;
    line-height: 18px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid silver;
}
label {
	display: inline-block;
    width: 50%;
    text-align: left;
    margin: 1% 0 0 0;
    color: white;
    line-height: 18px;
    font-size: 20px;
}
table{
    margin-top: 100px;
    margin-left: 100px;
}
table, th, td {
    align: center;
    color: white;
    font-size: 110%;
    border: 3px solid white;
}

.search_container input{
    align: right;
    margin-left:325px;
    margin-bottom: 10px;

}

.table_container_links {
    background: black;
}

div.container {
	width: 98%;
	margin: 1%;

}
h3 {
    text-decoration: underline;
    color: white;
}