body {
    background-image: url("/static/images/Metals_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* navbar styling */
.navMenu {
    background-color:  #FFD700;
    overflow: hidden;
    height: 75px
    border-radius: 10px;
    border: solid;
    border-color: #ededed;
    border-radius: 10px 10px;
}

.navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* style list items */
.navMenu li {
    float: left;
    display: block;
    padding: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ededed;
    border: solid 1px;
}
/* style href */
.navMenu a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Sans-serif
}

/* Change the color of links on hover */
.navMenu a:hover {
    text-decoration: underline;
    background-color: #ddd;
    color: blue;
    background-color: white;
    padding: 15px;
}
/* style for the precious metals form */
.formStyle {
    background-color: rgba(235, 235, 235, .9);
    margin: 10px auto;
    padding: 5px;
    width: 15%;
    border-radius: 10px;
    border: solid;
    border-color: #FFD700;
    position: relative;
    font-family: Sans-serif;
    font-size: 30px;
}
/* style for list */
.liststyle {
    background-color: rgba(235, 235, 235, .9);
    padding: 5px;
    font-family: Sans-serif;
    border-radius: 10px;
    margin: 10px auto;
    border: solid;
    border-color: #FFD700;
    position: relative;
    font-size: 30px;
    text-align: center;
    width:60%;


}
/* style for header inventory */
.headstyle {
    background-color: rgba(235, 235, 235, .9);
    padding: 5px;
    font-family: Sans-serif;
    border-radius: 10px;
    margin: 10px auto;
    width: 10%;
    border: solid;
    border-color: #FFD700;
    display: block;
    position: relative;
}
/* add border and background around table elements */
table, tr, th, td {
    border: 1px solid black;
    background-color: rgba(235, 235, 235, .9);
    padding: 5px;
}
/* style for container on details */
.detstyle {
    font-family: Sans-serif;
    border-radius: 10px;
    margin: 10px auto;
    border: solid;
    border-color: #FFD700;
    display: inline-block;
    font-size: 35px;

}
/* details header */
.dets_headstyle {
    background-color: rgba(235, 235, 235, .9);
    padding: 5px;
    font-family: Sans-serif;
    border-radius: 10px;
    margin: 10px auto;
    width: 10%;
    border: solid;
    border-color: #FFD700;
    display: inline-block;
    position: relative;
}
.edit_style {
    background-color: rgba(235, 235, 235, .9);
    padding: 5px;
    font-family: Sans-serif;
    border-radius: 10px;
    margin: 10px auto;
    border: solid;
    border-color: #FFD700;
    display: inline-block;

}
.delete_style {
    background-color: rgba(235, 235, 235, .9);
    margin: 10px auto;
    padding: 5px;
    width: 15%;
    border-radius: 10px;
    border: solid;
    border-color: #FFD700;
    position: relative;
    font-family: Sans-serif;
}

.removeMarks {
    list-style-type: none;
    margin: 4px;
    padding: 5px;
}

.larger_text {
    font-size: 30px;
}

.head_button {
    border-radius: 10px;
    padding: 20px;
}

.submit {
    padding: 15px;
    margin: 10px;
    font-size:30px;
    border-radius: 10px;
}

a:visited {
    text-decoration:none;
    color: black;
}

a:link {
    text-decoration:none;
}