{% extends "WorldwideRecipes/base.html" %}
    {% block recipes %}
        <label for="countries">Choose a Country:</label>
            <select name="countries" id="countries">
              <option value="countries">United States</option>
              <option value="countries">United Kingdom</option>
              <option value="countries">China</option>
              <option value="countries">Thailand</option>
              <option value="countries">Germany</option>
              <option value="countries">South Africa</option>
            </select>
    {% endblock %}