{% load static %}
<!DOCTYPE html>
<html lang="'en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title%} {% endblock %}</title>
        <meta name="viewport" content="width=device-width,inital-scale=1">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!--        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="sylesheet">-->
<!--        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/dndcharacters.css' %}">
    </head>
    <body>
        <div class="page_container">
            {% include "DNDCharacters/dnd_characters_navbar.html" %}
            <header class="header-title">
                <h1>{% block header %}{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

        {% include "DNDCharacters/dnd_characters_footer.html" %}
    </body>
</html>