
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Mech_Keyboards_home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vendor_spotlight' %}">Vendor Spotlight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_record' %}">Keyboard Builder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'keyboard_index'%}">My Builds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Part Descriptions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Case</a></li>
            <li><a class="dropdown-item" href="#">Plate</a></li>
            <li><a class="dropdown-item" href="#">PCB</a></li>
            <li><a class="dropdown-item" href="#">Stabilizers</a></li>
            <li><a class="dropdown-item" href="#">Switches</a></li>
            <li><a class="dropdown-item" href="#">Keycaps</a></li>
            <li><a class="dropdown-item" href="#">Optional Parts</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>