{% extends "gamestats_base.html" %}

{% load static %}

{% block title %} Review Details {% endblock %}

{% block header %} Review Details {% endblock %}

{% block content %}

<div class="container-lg bg-dark p-5 neu-jumbo">
  <h2 class="display-4 text-white">{{ details.name }}</h2>
    <p class="lead text-white">Genre: {{ details.genre }}</p>
  <p class="lead text-white">This game released in {{ details.release_year }} and scored a {{ details.rating }}/100.</p>
  {% if details.review %}
  <hr class="my-4 text-white">
  <p class="text-white">{{ details.review }}</p>
  {% endif %}
  <a href="{% url 'gamestats_edit' details.id %}" class="btn btn-secondary neu-button">Edit</a>
  <a href="{% url 'gamestats_delete' details.id %}" class="btn btn-secondary neu-button">Delete</a>
</div>



{% endblock %}