{% extends "gamestats_base.html" %}

{% load static %}

{% block title %} Game Reviews {% endblock %}

{% block header %} Top Reviewed Games {% endblock %}
<!--- Paragraph on the home page of the app -->
{% block content %}

<!-- Testing, will remove upon completion -->
{% if passed %}
<h1>Worked</h1>
{% endif %}

<div id="container" class="w-75 mx-auto">
    <table id="table" class="table table-dark table-hover table-striped text-center add-spacing" data-toggle="table">
        <thead class="table-spacer">
            <tr>
                <th scope="col" data-field="name" data-sortable="true" class="w-25 neu-table-left remove-border">Game</th>
                <th scope="col" data-field="ratings" data-sortable="true" class="w-25 remove-border">Rating</th>
                <th scope="col" data-field="release" data-sortable="true" class="w-25 neu-table-right remove-border">Release date</th>
            </tr>
        </thead>
        <tbody class="table-spacer">
            {% for name, date, rating, gameId in data %}
            <tr>
                <td class="w-25 neu-table-left remove-border"><a href="{% url 'gamestats_topgame_one' gameId %}">{{ name }}</a></td>
                <td class="w-25 remove-border">{{ rating }}/100</td>
                <td class="w-25 neu-table-right remove-border">{{ date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}