{% extends "gamestats_base.html" %}
{% load static %}
{% block title %}Game Reviews{% endblock %}
{% load crispy_forms_tags %}

{% block header %}Add your favorite games{% endblock %}

{% block content %}

<div class="container">
    <div class="dropdown text-center">
        <form method="GET" action="{% url 'gamestats_add_favorite' %}">
            {% csrf_token %}
            <select id="selectBox" name="value">
                <option class="dropdown-item"></option>
                {% for game in names %}
                <option class="dropdown-item" value="{{ game }}">{{ game }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="new_team" class="btn btn-outline-secondary neu-button" value="Add">
        </form>
    </div>
</div>

<script type="text/javascript">
var no_record_check = "{{ alert }}";
if (no_record_check == "True") {
    alert('Already added to favorites.');
}
</script>

{% endblock %}