/* background image */

.bg_img {
    background-image: url('/static/images/coachMain.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.coachNv {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Keeps Navbar at top of page */
    position: sticky;
    top: 0;
    z-index: 1; /* Navbar is always on top */
}

body {
    color: white;
    overflow: hidden;
}

/* Main content container */
.coach-container{
    background-color: #45abff;
    border: 3px solid;
    border-color: white;
    border-radius: 15px;
    padding: 20px;
    opacity: .95;

	}

childBox {

overflow: auto;
    -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}

/* Footer */
footer {
    position: fixed;
    text-align: center;
    padding: 10px;
    top: 10;
    bottom: 0;
    width: 100%;
    opacity: .6;
}

.bs-footer-copyright
    background-color: white;

/* General Table Styling: Gives the ability to easily justify text left, right, or center. */
.center {
	text-align: center;
	width: 15%;
	color: white;
}

.left{
	padding-left: 10px;
	width: 30%;
	word-wrap: normal;
	color: white;
}

.right {
	padding-right: 5px;
	width: 20%;
	text-align: right;