{% extends 'TheAnimeApp/AnimeBase.html' %}
{% load static %}
{% block title %}The Anime Page{% endblock %}

{% block content %}
    <h1><strong>Welcome!</strong></h1>
    <p>Here you can write a review about any Anime.</p>
    <p>You can make your review by clicking <a href="AnimeCreate">Here</a>! You can
    also navigate using the navigation bar above!</p><br/>

<div class="clearfix">
  <img src="/static/images/app-images/city.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    As many may know Anime comes from Japan, it consists of many different genres. Some of which are Shounen(targets an audience that wants to chase their goals/dreams), slice of life(day to day activities for characters, laid back) and psychological thriller(involves suspense and mystery) these are just a few of many!
  </p>

  <p>
    The art style can vary from anime to anime. Some people may have a preference with what art style of anime they like to watch, some art style can be traditional like Naruto and others can be a bit more outlandish like Jojo's Bizzare Adventure. When it comes to watching anime some might enjoy any art style, which is common!
  </p>

  <p>
    Now something not a lot of people talk about is the anime's soundtrack, for example: Demon Slayer and Naruto in my subjective opinion have phenomenal soundtracks. This on top of the other things mentioned plus more can be a factor when it comes to rating an anime.
  </p>
</div>
{% endblock %}

