{% extends 'TheAnimeApp/AnimeBase.html' %}
{% load static %}
{% block title %}See Details{% endblock %}

{% block content %}
<div>
    <ul>
        <div id="content" class="grid-container" >

            <div id="content" >
            <br>
                <ul>Title: {{ anime_detail.AnimeName }}</ul>
                <ul>Genre: {{ anime_detail.Genre }}</ul>
                <ul>About: {{ anime_detail.About }}</ul>
                <ul>Rating: {{ anime_detail.Rating }}</ul>
                <ul>Review: {{ anime_detail.Review}}</ul>
            <ul>id: {{ anime_detail.pk }} </ul>
            <br>
            <hr>
            </div>
        </div>
    </ul>
</div>

{% endblock %}