<!--Incorporating bootstrap to make use of our navbar!
all the classes for each item are tied to bootstrap, giving the navbar
some nice formatting/appearance.
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'SIAHome' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'SIAAddEntry' %}">Add a game</a>
      <a class="nav-item nav-link" href="{% url 'SIAAllEntries' %}">View all games</a>
      <a class="nav-item nav-link" href="{% url 'SIADataScrapeTest' %}">GameSpot's Recommendations</a>
      <a class="nav-item nav-link" href="{% url 'SIASteamGameIDEntry' %}">View Steam News</a>
    </div>
  </div>
</nav>