{% extends 'VideoGameApp/VideoGame_Base.html' %}
{% load static %}
{% block title %}Add Video Game{% endblock %}
{% block content %}
<div class='container'></div>
    <!--grabbing the form from my app and submit as a POST-->
    <form action="{% url 'GameDetails' %}" method="POST" class="form-container" id="createForm">
        <!--passing the django required csrf token for forms-->
        {% csrf_token %}
        <table>
            <!--putting my form in table format using the built in django "as_table" function-->
                    {{ addForm }}
        </table>
        <div class="btn_container">
            <!--button submits my form-->
            <button type="submit" class="btn-primary btn-lg" name="Add_Game">Submit</button>
            <!--button redirects user to the homepage-->
            <a href="{% url 'VideoGameAppHome' %}">
                <button type="button" class="btn-secondary btn-lg"> Cancel</button>
            </a>
        </div>
    </form>
{% endblock %}