{% extends "SportsApp/SportsApp_base.html" %}

{%block title%}SportsApp{%endblock%}

{%block header%}<h1 class="home-header">Welcome to SportsApp!</h1>{%endblock%}

{%block content%}
    <!--img src="../static/SportsApp/images/Sports_4_NBA.jpg" class="home_photo" alt="NBA"-->
<p class="home-text">Here at SportsApp we bring <span style="color: red; ">ALL</span> the Sports to you!</p>
<div class="home-wrapper">
    <p class="home-news">Breaking News: </p>
    <img src="../static/SportsApp/images/Sports_NBA_Harden_Nets_4.jpg" class="newsPhoto" alt="James Harden to Nets!?">
    <a class="newsLink" href="https://www.nba.com/nets/news/preview/2021/01/16/nets-vs-magic-james-harden-likely-to-debut-for-brooklyn">Breaking News! Click Here!</a>
</div>










{%endblock%}