{% extends "FootballStats/Football_Stats_base.html" %}
{% load static %}
{% block title %}Football Stats{% endblock %}

{% block header %}   {% endblock %}

{% block content %}
<h1 class="heading text-center text-white">Football Stats</h1>
<table class="table table-dark table-hover table-bordered border-white w-50 mx-auto text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        {% for player in player_list %}
        <tr>
            <td><a href="{% url 'football_stats_details' player.id %}">{{ player }}</a></td>
            <td>{{ player.team }}</td>
            <td>{{ player.position }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock %}