{% extends "FootballStats/Football_Stats_base.html" %}
{% load static %}
{% block title %}Football Stats{% endblock %}

{% block header %}<h1 class="heading text-center text-primary">Previous Super Bowl Winners{% endblock %}

{% block content %}
<div id="container" class="table-responsive w-75 mx-auto">
    <table id="table" class="table table-dark table-hover table-bordered border-white w-50 mx-auto text-center" data-toggle="table">
        <caption class="text-light">The SuperBowl was first played in 1967.</caption>
        <thead>
            <tr>
                <th>Super Bowl</th>
                <th>Super Bowl Number</th>
                <th>Date</th>
                <th>Winner</th>
                <th>Score</th>
                <th>Loser</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for winner in winner_list %}
            <tr>
                <td>{{ winner.0 }}</td>
                <td>{{ winner.1 }}</td>
                <td>{{ winner.2 }}</td>
                <td>{{ winner.3 }}</td>
                <td>{{ winner.4 }}</td>
                <td>{{ winner.5 }}</td>
                <td>{{ winner.6 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}