{% extends "fantasyFB_base.html" %}

{% block title %}&#127944;Fantasy Football!&#127944;{% endblock %}

{% block header %}The <strong>REAL</strong> Fantasy Football!{% endblock %}

{% block content %}
<div class="img-container">
    <img src="/static/images/fantasyFB_home.jpg" alt="Superpros" style="width: 100%;">
    <div class="content">
        <h2 class="img-text-head">It's on!</h2>
        <p class="img-text">Wouldn't you like to see an EPIC match between the heroes of Marvel and DC in a good 'ole NFL Game on Monday night? Well look no further!
        This app that I've created allows you to create your own Marvel vs DC rosters with your favorite heroes! May the best
        franchise win!</p>
    </div>
</div>
{% endblock %}