{% extends "BookClubApp/BookClubApp_base.html" %}
{% load static %}
{% block title %}Explore New Books{% endblock %}
{% block header%}Search Results{% endblock %}
{% block content %}
<div class="content">
    <div class="section">
        <p class="eighty">Add titles you'd like to read in future to your wishlist by clicking on the Add to Wishlist button. Books added will appear on the <a href="{% url 'BookClubApp_AddBookWishlist' %}">Wishlist</a> page.</p>
    </div>
    <h2 class="eighty" style="margin-top:50px;">Results for: {{searchTerm}}</h2>

    <p class="eighty"><a href="{% url 'BookClubApp_searchForm' %}">Back to search form</a></p>

    <div class="search-results">
        {% for key, value in responseData.items %}
            <div class="search-result">
                <form action="{% url 'BookClubApp_AddBookWishlist' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="read" value="False" id="id_read">
                    {% for key2, value2 in value.items %}
                        {% if key2 == 'imageLink' %}
                            <div class="book-image" style="background:url({{value2}}) no-repeat; background-size: cover; background-position:center;"></div>
                            <input type="hidden" name="image" maxlength="250" required="" id="id_image" value="{{value2}}">
                        {% elif key2 == 'title' %}
                            <div class="book-title">
                                <h4>{{value2}}</h4>
                                <input type="hidden" name="title" maxlength="250" required="" id="id_title" value="{{value2}}">
                            </div>
                        {% elif key2 == 'authors' %}
                            <div class="book-authors">
                                <p>
                                {% for author in value2 %}
                                    {{author}}<br>
                                    <input type="hidden" name="author" maxlength="250" required="" id="id_author" value="{{value2}}">
                                {% endfor %}
                                </p>
                            </div>
                        {% elif key2 == 'description' %}
                            <input type="hidden" name="comments" id="id_comments" value="{{value2}}">
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-secondary"  type="submit" formmethod="post">Add to Wishlist</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}