{% extends "BoardGames/base.html" %}
{% load static %}
{% block title %} Board Games Home {% endblock %}

{% block header %}
    <h1>Welcome to the Board Games Application</h1>
    <h3>This application contains a list of the author's favorite games.</h3>
{% endblock %}

{% block content %}
    {% if boardGames.count %}
        <div id="container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
           {% for b in boardGames %}
               <div id="{{ b.id }}" class="col mb-4">
                   <div class="card">
                       <div class="favorite">
                           <a class="toggleFavorite" data-href="{% url 'BoardGames_favorite' b.id %}" data-id="{{ b.id }}">
                               {% if b.Favorite %}
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                       <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                   </svg>
                               {% else %}
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                       <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                   </svg>
                               {% endif %}
                           </a>
                       </div>
                       <a href="{% url 'BoardGames_get' b.id %}">
                           <img src="{{ b.Thumbnail }}" class="card-img-top" alt="{{ b.Name }}">
                           <div class="card-body">
                               <h5 class="card-title">{{ b.Name }}</h5>
                           </div>
                       </a>
                   </div>
               </div>
           {% endfor %}
       </div>
    {% else %}
        <p>There are no games in the database.  Feel free to <a href="{% url 'BoardGames_create' %}">add one</a> or <a href="{% url 'BoardGames_seed' %}">add the author's selection.</a>.</p>
    {% endif %}
{% endblock %}