{% extends 'NoteTaking/NoteTaking_base.html' %}

{% block title %} NoteTaking - Home {% endblock title %}


{% block content %}
    <div class="notetaking_page_container">
        <div class="notetaking_page_title">
            <h1>My Notes</h1>
        </div>
        <hr>
        <div class="api_widget">
            <button class="btn btn-warning">
                <a href="./Suggestion">Looking for ideas to note? Click here!</a>
            </button>
        </div>
        <div class="list_notes">
            {% csrf_token %}
            <div class="list-group">
                {% for note in notes %}
                    <a href="./{{ note.pk }}/Details" class="list-group-item list-group-item-action">{{ note.Title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}