* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/pokeDex.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header-title {
	text-align: center;
	color: black;
	text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
}

