* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/Pokémon_Stadium.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

html {
    scroll-behavior: smooth;
}


.header-title {
	padding: 2px 16px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
}
#block-footer {
    position: fixed;
    clear: both;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #17262c;
    bottom: 0;
    height: 40px;
}
#block-footer a, #block-footer p {
    flex: 1;
    color: white;
    padding: 15px 15px;
	font-size: 14px;
    line-height: 10px;
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
}
#footer-left {
    width: 40%;
    text-align: right;
}
#block-footer{
	float:left;
	clear:both;
	width:100%;
}
#block-footer a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	outline: medium none;
}
#block-footer a:hover {
    color: #CABE96;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

#dropdownMenuButton {
    padding: 0px,4px,0px,4px;
}

#link {
    color: rgba(0, 219, 255, 0.8);
}

#link a:hover {
    color: rgba(159, 255, 4, 0.952);
    text-shadow: 0 1px 0 rgb(247, 76, 9);
}
