{% extends 'utada_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Music {% endblock %}

{% block content %}
	<h3>ENTRIES</h3>

    <div class="music-form container px-5 py-5 text-white border border-dark " >

            <label>Entries</label>

                <table class="table table-responsive table table-bordered" id ="transactions-table">
				<!-- Replace this with the Django populated transactions -->
				<tr id="headerRow">
					<th>Song</th>
					<th>Year</th>
					<th>Image</th>

				<th>Details</th>
				<th>Edit</th>
				<th>Delete</th>


				</tr>
				{% for item in items %}
				<tr>
						<td class="center">{{ item.songs }}</td>
						<td class="center">{{ item.year }}</td>
						<td class="left">{{ item.image}}</td>
						<td class="left"><a href="{% url 'hiki_details' item.pk %}">Details</a></td>
						<td class="left"><a href="{% url 'hiki_edit' item.pk %}">Edit</a></td>
						<td class="left"><a href="{% url 'hiki_delete' item.pk %}">Delete</a></td>
				</tr>

				{% endfor %}



			</table>

    </div>
{% endblock %}