{% extends 'ItemsApp/base.html' %}

{% block title %}Edit Items{% endblock %}

{% block content %}
    <div class="view_panel">
        <form name="itemForm" method="POST" action="../edit_form/">
            <table>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_table }}
            </table>
                <input type="submit">
                <a href="../{{ form.pk }}delete/"><button class="btn" type="button">Delete</button></a>
                <a href="{% url 'itemsApp_home' %}"><button class="btn" type="button">Cancel</button></a>
        </form>
    </div>
{% endblock %}