{% extends 'ItemsApp/base.html' %}

{% block title %}OSRS Item Stats{% endblock %}

{% block content %}
    <div id="About" class="about_panel">
        <h2>Welcome to the OSRS Database!</h2>
        <br>
        <p>The purpose of this page is to allow players to submit the stats of combat items that exist within the world of Gielinor.</p>
        <p>In OldSchool RuneScape, there are three different types of combat styles. Melee, Range, and Magic. For each of these styles, there are a plethora of different weapons.</p>
        <p>All weapons have equipment stats, attack bonuses and defence bonuses in stab, slash, and crush melee combat, Ranged combat and Magic combat.
            Each also has a melee strength, Ranged strength, and Magic strength increasing maximum damage with that damage type and Prayer bonus that reduces the rate at which prayers drain points.
            Weapons also have an attack speed, which is the rate at which it attacks and an attack range. Melee weapons, except for halberds, all have 1 attack range. Ranged and Magic weapons vary, however most magic weapons cast spells from 10 tiles away.
        </p>
    </div>
{% endblock %}
