{% extends "StockMarketBase.html" %}

{% block StockTitle %} Edit Account Information {% endblock %}



{% block StockPageHeading %} Edit and Delete Client Details {% endblock %}

{% block Content %}





	<h2>Client list and Information</h2>


	<form method="POST">

		<!-- Replace this with the Django populated transactions -->

		{% csrf_token %}

		Are you sure you want to delete this client?
		<button type="submit" name="delete_Account" value="Yes">Delete Account</button>
		<button><a href="{% url 'details' account.id %}">Cancel</a></button>
	</form>

	<br><br>

{% endblock %}