{% extends "Recipes_Base.html" %}
{% load static %}
{% block title %} Edit Recipes{% endblock %}

{% block header %}
                <h1>Edit Recipes</h1>
                <p>Make the changes you need</p>
{% endblock %}

{% block content %}

 <form name="RecipeForm" method="POST">

    <table>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_table }}
    </table>
    <button id="Savebtn" type="submit">SAVE CHANGES</button>

    <button><a href="{% url 'Recipes_See' %}">Cancel</a></button>


{% endblock %}