{%extends "Recipes_Base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Recipes{% endblock %}

{% block header %}
<h1>Add a Recipe</h1>
<p>Begin by entering your recipe in the form below</p>
{% endblock %}

{% block content %}

<div class="practice">
        <form name="RecipeForm" method="POST" action="{% url 'Recipes_Create' %}">

                <!--Cross site request forgery protection -->
                {% csrf_token %}
            <!--allows us to use crispy forms -->
                {{ form|crispy }}
            <input type="submit" class="btn" value="Create New Recipe" name="Save_Recipe">

        </form>
</div>







{% endblock %}