{% extends "MusicTaste_base.html" %}

{%block title %}Music{% endblock %}

{% block content %}
<body>
    <div class = "text">
        <div class ="Title">
            <h2>The Different Kinds of Music</h2>
        </div>

        <div class="paragraph">
            <p>Music can come in many styles and genres.  It can range from simple classic to extreme death metal.<br>
            As various as music can be, so can its followers.  Music taste is part of our own unique identity. The best part?<br>
            We're not limited to picking just one genre!  People can like as many music genres as they please, or even just <br>
            a song or two from a genre without liking all or most songs in that particular genre.  With music, there are no<br>
            limits!</p>

            <p>Think you know music?  Find out by taking our quiz!</p>
        </div>
    </div>
</body>









{% endblock %}

