{% extends 'coachBase.html' %}
{% block title %}Create New Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="lighten-20 rounded jumbotron jumbotron-fluid bg-primary text-light text-center">
		<h2 class=" text-center font-weight-bold">Create New Coach Account</h2>
	</div>
	<div class="mw-75">
		<form method="POST" novalidate>
			{% csrf_token %}
			{{form|crispy}}
			<br>
			<button type="submit" class="btn btn-primary">Create Account</button>
		</form>
	</div>
{% endblock %}