

 <nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">AppBuilder9000</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gardenhome' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gardenplanner' %}">Garden Planner</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gardentracker' %}">Garden Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'allvegetables' %}">Your Garden</a>
        </li>
      </ul>
    </div>
 </nav>