{% extends "GardenApp\garden_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Garden Planner{%endblock %}


{% block content %}

    <div class="jumbotron col-xs-1 text-center">
        <h1>Find Your Vegetables</h1>
            <p>Collect your season observations and harvest data here</p>
    </div>

    <div class="form-container">
        <div class="row justify-content-center">
            <div class="col-7">
                <hr class="mt-0 mb-4">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

{% endblock content %}