{% extends "GardenApp\garden_base.html" %}
{% load static %}


{% block content %}

<div class="jumbotron col-xs-1 text-center">
</div>

<h1>{{ track.Vegetable_Name }}</h1>
<div class="container">
  <div class="row">
    <div class="col-10">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Growing Season Observations</th>
              <th scope="col">Harvest Weight</th>
              <th scope="col">Harvest Observations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ track.Growing_Season_Observations| lower }}</td>
              <td>{{ track.Harvest_Weight| lower }}</td>
              <td>{{ track.Harvest_Observations| lower }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-2">
        <div class="details-header">
            <p>Garden Tracker</p>
            <div class="btn-container text-center">
                <a class="btn btn-default" href="{% url 'trackeredit' track.pk %}">EDIT</a>
                <a class="btn btn-default" href="{% url 'trackerdelete' track.pk %}">DELETE</a>
            </div>
        </div>
    </div>
</div>

    {% if plan %}
    {% for p in plan %}
        {% if p.id == track.Vegetable_Name_id %}
<div class="container">
  <div class="row">
    <div class="col-10">

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Growing Year</th>
              <th scope="col">Growing Zone</th>
              <th scope="col">Sowing Time</th>
              <th scope="col">Harvesting Tips</th>
              <th scope="col">General Care Tips</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ p.Growing_Year| lower }}</td>
              <td>{{ p.Growing_Zone| lower }}</td>
              <td>{{ p.Sowing_Time_Frame| lower }}</td>
              <td>{{ p.Harvest_Tips| lower }}</td>
              <td>{{ p.General_Care_Tips| lower }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-2">
            <div class="details-header">
                <p>Garden Planner</p>
                <div class="btn-container text-center">
                    <a class="btn btn-default" href="{% url 'planneredit' p.id %}">EDIT</a>
                    <a class="btn btn-default" href="{% url 'plannerdelete' p.id %}">DELETE</a>
                </div>
            </div>
    </div>
  </div>
</div>

        {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}