{% extends 'PasswordManager/PwdMgr_base.html' %}

x{% block title %}Store a Password{% endblock %}
{% block header %}Enter Your New Password{% endblock %}

{% block appcontent %}
<div class="form-container" id="input-container">
    <div id="create-form">
        <form method="POST">
            {% csrf_token %} <!-- for validation/security purposes -->
            {{form.as_p}}
            <button id="new-password-button" type="submit" name="Store_Password">Store This Password</button>
        </form>
    </div>
</div>
{% endblock %}