
body {
    background-color: lightblue;
}

.NavBar {
    overflow: hidden;
    background-color: rgb(5, 82, 95);
    position: fixed;
    top: 0;
    width: 100%;

}

.NavBar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.footer {
    background-color: rgb(5, 82, 95);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.body_content {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    padding: 14px 14px;
}