    {% extends "AwesomeWeather/AwesomeWeather_base.html"%}
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_messages %}

        {% block title %}Awesome Weather{% endblock %}

     {% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Make your own Awesome Weather Events!</h2>
                <form method="POST" class="post-form" enctype="multipart/form-data"><input type='hidden'/>
                    {%csrf_token %}
                    {% bootstrap_form form %}
                    <!-This is the form variable which we are passing from the function
                    of home in views.py file. That's the beauty of Django we
                    don't need to write much codes in this it'll automatically pass
                    all the form details in here
                    ->
                    <div class="form-group">
                        <button type="submit" class="btn btn-default ">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 {% endblock %}





