{% extends "VideoGameReviews/gamereviews_base.html" %}

{% block title %} Video Game Review - Delete Entry {% endblock %}

{% block header %} Delete Review {% endblock %}

{% block content %}

<!-- Delete Confirmation -->
<div class="create_form p-3 mb-2 bg-dark text-white">
    <form method ="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-secondary" value ="Delete" onclick ="return confirm('You will lose this! Are you sure?')">
        <a href="{% url 'gamereviews_displayitems' %}"><button type="button" class="btn btn-secondary" value="Cancel">Cancel</button></a>
    </form>
</div>

{% endblock %}