{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %} Edit Player {% endblock %}

{% block header %}
    <h1>Edit Player</h1>
{% endblock %}

{% block content %}
    <h3 style="text-align: center; color: blue;">Make an Edit</h3>
    <div id="form-container" class="table-responsive w-50 mx-auto">
        <form method='POST'>
            {% csrf_token %}
            <table id="table" class="table table-dark table-bordered table-hover text-center">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-dark btn-lg btn-block w-50 mx-auto">Edit Player</button>
        </form>
    </div>
{% endblock %}