{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %}Basketball Stats{% endblock %}

{% block header %}Favorite Teams{% endblock %}

{% block content %}
<div id="container" class="table-responsive w-25 mx-auto">
    <table id="table" class="table table-dark table-bordered table-hover text-center" data-toggle="table">
        <caption>Click on a team's name to view their details</caption>
        <thead>
            <tr>
                <th scope="col" class="w-25">Team</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_list %}
            <tr>
                <td><a href="{% url 'basketball_stats_favorite_details' team.id %}">{{ team.team_name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}