{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %}Basketball Stats{% endblock %}

{% block header %}Favorite Team Details{% endblock %}

{% block content %}
<div id="container" class="table-responsive w-75 mx-auto">
    <table id="table" class="table table-dark table-bordered table-hover text-center">
        <thead>
            <tr>
                <th scope="col" data-field="name" class="w-25">Team Name</th>
                <th scope="col" data-field="seasons_played" class="w-25">Conference</th>
                <th scope="col" data-field="mvp_awards" class="w-25">Division</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ details.team_name }}</td>
                <td>{{ details.conference }}</td>
                <td>{{ details.division }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'basketball_stats_delete_favorites' details.id %}"><button type="button" class="btn btn-dark btn-lg w-25 mx-auto">Remove Team From Favorites</button></a>
    <a href="{% url 'basketball_stats_favorites' %}"><button type="button" class="btn btn-dark btn-lg w-25 mx-auto">Return To Favorites</button></a>
</div>
<div class="card w-25 mx-auto" id="card-info">
    <div class="card-body">
        <ul>
            <li>{{ info.0 }}</li>
            <li>{{ info.1 }}</li>
            <li>{{ info.2 }}</li>
            <li>{{ info.3 }}</li>
            <li>{{ info.4 }}</li>
            <li>{{ info.5 }}</li>
            <li>{{ info.6 }}</li>
            <li>{{ info.7 }}</li>
            <li>{{ info.8 }}</li>
            <li>{{ info.9 }}</li>
            <li>{{ info.10 }}</li>
        </ul>
    </div>
    <div class="card-footer">
        <h4 class="text-center">{{ details.team_name }}</h4>
    </div>
</div>
{% endblock %}