{% extends "EFT_Items/EFT_Items_base.html" %}

{% block title %}Escape From Tarkov{% endblock %}

{% block header %}Welcome to Escape From Tarkov{% endblock %}

{% block content %}

<p class="EFTExplained">Escape from Tarkov is a hardcore and realistic online first-person
    action RPG/Simulator with MMO features and a story-driven walkthrough.</p>

<p class="EFTExplained">In this app, you will be able to input an item to keep track of.
    You'll have the option to set if it is a quest item or a required item for your hideout.</p>

{% endblock %}