/*
body {
    background-image: url('../images/faces.jpg');
}*/
h5 {
    margin: 0px 50px 0px 50px !important;
}


.test {
/*    line-height: .7;*/
    margin: 0px 0px 0px 16.5vw;
    width: 25vw;
    justify-content: center;
    text-align: center;
    border: hidden;
}

.test label {
    display: inline;
}



table input{
text-align: left;

}

li {
    text-align: left;
    margin: 0px 0px 0px 7vw;
}

body {
/*    background-image: url('../images/faces.jpg');*/
	font-family: Lucida Sans Unicode;
	text-align: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	overflow: scroll;
	background-repeat: no-repeat;
	background-color: #66b3ff !important;
}
html, body {
	/*height: cover;
	width: cover;*/
	overflow: auto !important;
	font-family: 'Hind Siliguri', sans-serif !important;
}

button {
}

#chart {
    opacity: 1;
    border-radius: 15px;
    margin: 10px 200px 50px 200px;
    text-align: center;
    border: solid 5px #66b3ff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}



h1{
	color: black;
	font-size: 36px;
	text-align: center;
}

/* General Form Field Styling */
label {
    display: inline;
	width: 125px;
/*	margin-left: 50px;*/
/*	font-weight: bold;*/
	opacity: initial;
}

#index-label {
    margin-left: -75px;
    margin-bottom: 15px;
}

input, select{
/*	width: 500px;*/
	border-radius: 5px;
/*	box-shadow: 4px 2px darkslateblue;*/
}

/* General Table Styling */
.edit {
    margin: auto;
    border: hidden;
}

.edit th {
    border: hidden;
/*    padding: 0em 1em 0em 1em;*/
}

.edit td {
    border: hidden;
    text-align: left;
}

.edit input {
    width: 225px;
    margin: 0px 0em 10px 0px;
}

.edit label {
    padding: 0px 10px 10px 10px;
    display: auto;
}


th{
	border: 2px solid black;
}

.test th{
    padding: 1em;
    border: hidden;
}

tr td{
	height: 25px;
	border: 2px solid black;
	word-wrap: normal;
	vertical-align: top;
	width: auto;
}

#headerRow {
/*	color: darkslateblue;*/
    color: white;
    text-align: center;
    background: #66b3ff;
}

.center {
	text-align: center;
/*	width: 15%;*/
}

.left{
	padding-left: 10px;
	width: 30%;
	word-wrap: normal;
}

.right {
	padding-right: 5px;
	width: 20%;
	text-align: right;
}


/* Drop-Down Menu Styling */
.JavaScriptDropdown{
	position: relative;
	margin-top: 0;
}

/*Container Styling */
.checkbook-container{
	opacity: 1;
	position: relative;
	width: 1200px;
	height: auto;
	border-radius: 20px;
/*	border: 2px solid gray;*/
/*	box-shadow: 4px 3px darkslateblue;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 10em;
	background-color: #f2f2f2;
	padding: 3em 3em 3em 3em !important;

	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.home-div {
	margin-top: 5em;
}

.checkbook-container h2{
	color: darkslateblue;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.checkbook-container h3{
	font-size: 24px;
	text-align: center;
	color:black;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 15px;
}
h3 {
    padding: 20px 20px 20px 20px;
    color: #0073e6 !important;
    font-family: 'Hind Siliguri', sans-serif;
/*    text-shadow: -1px 0 #1a8cff, 0 1px #1a8cff, 1px 0 #1a8cff, 0 -1px #1a8cff;*/
}

form{
    justify-content: center;
    text-align: center;
    padding-top: 2em;
}

/* All Transactions Form and Table Styling */
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 2px solid black !important;
}

#all-transactions-form {
	position: relative;
}

#all-transactions-form button{
	background-color: darkgray;
	position: relative;
	right: 40px;
	float: right;
}

#all-transactions-form button:hover {
	background-color: lightgray;
}

#accountholder {
	width: 575px;
}

#balance{
	width: 250px;
}

#transactions-table {
	background-color:white;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
/*	padding: 10px;*/
/*
	border: 2px solid gray;
*/
	border-collapse: collapse;
/*	border-radius: 8px;*/
	table-layout: auto;
	float: center;
	position: relative;
}

/* New Account and New Transaction Styling */
.account-form, .new-transaction-form {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

/* Button styling */
ul{
list-style: none;
}

.my-nav {
    position: fixed;
    top: 0;
    margin: 0px;
    padding: 0px;
    z-index: 15;
    height: 50px;
    background-color: black;

}


.checkbook-container button, .new-account-button{
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
	background-color: #343A40;

	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

/*	border: solid 1px #66b3ff;*/
}

button a, button a:hover{
    text-decoration: none;
	text-align: center;
	color: white !important;
	border: none;
}

a {
    color: white !important;
}

.blue {
    color: #0073e6 !important;
}

table a {
    color: #0073e6 !important;
}

a:hover {
    color: #99ccff !important;
    text-decoration: none !important;
}

.checkbook-container button:hover, .new-account-button:hover{
	background-color: #5c6670;
	color: black;
	box-shadow: 2px 2px 2px #888888;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-nav {
    padding-left: 28% !important;
}

/* Footer styling */
#block-footer {
    clear: both;
    display: flex;
    width: 100%;
	-moz-box-sizing: border-box;
    margin: 0 auto;
    background-color: gray;
    position: fixed;
    bottom: 0;
    height: 40px;
    opacity: 0;
}
#block-footer a, #block-footer p {
    flex: 1;
    color: white;
    padding: 15px 15px;
	font-size: 14px;
    line-height: 10px;
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
}
#footer-left {
    width: 40%;
    text-align: right;
}

#footer-center {
    width: 40%;
    text-align: center;
}

#block-footer{
	float:left;
	clear:both;
	width:100%;
}
#block-footer a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	outline: medium none;
}
#block-footer a:hover {
    color: steelblue;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}