
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}



.w3-bar,h1,button {font-family: "Montserrat", sans-serif}

.fa-anchor,.fa-coffee {font-size:200px}

p{
    text-align: left;
    font-size:16px;
}

.button-color {

    background-color: rgba(10, 186, 241,1);
}


.textfill {
    background-color: rgba(10, 10, 10, 0.8);
    color:white;
    text-align:left;
    padding-left:50px;
    padding-right:50px;
}


.home-page-font {

    font-size:32px;
}

.labelfill{
    background-color:black;
    color:white;
    text-aligh:left;
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
}

html{
    background-color:grey
}

.bgimg {
    background-color:lightgrey;
    background-image: url( "/static/images/portland_1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.bgimg1 {
    background-color: lightgrey;
    background-image: url("/static/images/NeighborhoodReview.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


#navop {
    opacity:70%
}

.btnop {

    opacity:70%;
    text-decoration:none;
}

account-form, review-form {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.center {
	text-align: center;
	width: 15%;
}

.list-font {

    color: rgba(130, 234, 211, 0.45);
    font-size:20px;
    border:none;
}

.left{
	padding-left: 10px;
	width: 30%;
	word-wrap: normal;
}

.left{
	padding-left: 10px;
	width: 15%;
	word-wrap: normal;
}

.left-long{
	padding-left: 10px;
	width: 45%;
	word-wrap: normal;
}


.right {
	padding-right: 5px;
	width: 20%;
	text-align: right;
}


.form-container{
    text-align: center;
    padding:128px 16px;
}

.table-container{

    width:100%;
    height:100%;
    overflow: scroll;
    margin:0;
    padding:0;

}

table {
  table-layout:fixed;
}

table, td, th {
    border: 1px solid black;

}

th{
    text-align:center;
}

td {
    text-align:left;
    font-size:14px;
    overflow: hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
}

tr-margin {
    margin-top:5px;
    margin-bottom:5px;
}


#review-table {
    width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 2px solid gray;
	border-collapse: collapse;
	border-radius: 8px;
	table-layout: auto;
	position: relative;
}

.home-page-bottom {
    text-align: center;
	padding:20px 20px;

}

#review-summary-font {

    font-size: 24px;
    margin:auto;

}

.btn-margin{

    margin-top: 10px;
    margin-bottom:10px;
}


