{% extends "CryptoApp/CryptoApp_base.html" %}

{% block title %} CryptoApp Home {% endblock %}

{% block header %}Cryptocurrency Database{% endblock %}

{% block content %}
    <p>On this site you can update and monitor information on cryptocurrencies. Several functionalities are built in:</p>
    <ol class="cryptoapp-home--list">
        <li>Entering data for a blockchain.</li>
        <li>Updating data regarding the coin or token for a blockchain.</li>
        <li>Viewing all currencies in the database in a table.</li>
        <li>Viewing the details for a specific currency (which can be accessed via the links
            in the display table.</li>
        <li>Seeing which cryptocurrencies are trending now (updated daily).</li>
        <li>Looking up information from coingecko.com on any individual coin.</li>
    </ol>



{% endblock %}