{% extends "ArtGallery_base.html" %}


{% block title %} Poseidon's Eye Artists {% endblock %}

{% block content %}

<div class="display">
    <div class="display2">
        {% for item in user_display %}
        <ul>
            <li>{{ item.First_Name }}</li>
            <li>{{ item.Last_Name }} |</li>
            <li>{{ item.Email }}  </li>
            <button><a href="{% url 'ArtGallery_details' item.pk %}">User Details</a></button>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}