{% extends 'UpcomingConcertsApp\sub_pages_base.html' %}
{% block page-title %}Details{% endblock %}
{% block sub-body %}
<div class="details_block center">
<h3>{{ event.event_name }}</h3>
<h4>{{ event.orchestra }}</h4>
<h5>{{ event.conductor }}</h5>
<h5>{{ event.date }}</h5>
<h4 class="details_program">Program:</h4>
{% for piece in all_event_pieces %}
    {% if piece.concert_id == event.id %}
        {% for names in all_pieces %}
            {% if piece.piece_id == names.id %}
                {{ names.piece_composer }}, {{ names.piece_name }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<a href="{% url 'see_database' %}"><button type="button" class="btn btn-block btn-outline-dark details_button">
    Back to Database
</button></a>
</div>
{% endblock %}