{% extends 'UpcomingConcertsApp\base.html' %}
{% block title %}Upcoming Concerts of Interest{% endblock %}
{% block body-content%}



<div class="jumbotron homepage-bg center">
    <h1 class="display-1 page-title">Upcoming Concerts!</h1>
    <p class="lead subhead">Welcome to your personal Concerts and Events archive.
        <br>When you find
        concerts or events that interest you, record them here so you know where
        and when you can watch them.
    </p>
    <p></p>

</div>

{% endblock%}
